[2022-08-19 06:59] nijel commented on #8015
You can not download files which were removed from the repository...

[2022-08-19 07:04] yumithecat commented on #8015
The thing is, as I said: yesterday evening it worked completely fine. I removed nothing. And today it didn't work anymore. Is there maybe a place where I can put the file back?

(I'll look at the support plans and I'll decide later on.)

[2022-08-19 07:05] yumithecat commented on #8015
The thing is, as I said: yesterday evening it worked completely fine. I removed nothing. And today it didn't work anymore. Is there maybe a place where I can put the file back?

(I'll look at the support plans and I'll decide later on.)

[2022-08-19 07:21] ilocit opened #8016 "Key is parsed for Glossary matches."
### Describe the issue

Apparently the "key" is also parsed for Glossary matches and not only the "value".

![image](https://user-images.githubusercontent.com/26718215/185565787-ba6f725c-ee14-4233-ba38-b47cdf873c2c.png)

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduc

[2022-08-19 13:14] NicolasBFR opened #8021 "How to setup WEBLATE_BASIC_LANGUAGES and list environment target ?"
### Describe the issue

I tried to run the Docker instalation of Weblate with restriction to the EU languages like this in docker-compose.yml like this:
` WEBLATE_BASIC_LANGUAGES ["de","en","bg","hr","da","es","et","fi","fr","el","hu","ga","it","lv","lt","mt","nl","pl","pt","ro","sk","sl","sv","cs"]`

but when I do `docker-compose up` docker returns:
`services.weblate.environment.WEBLATE_BASIC_LAN

[2022-08-19 13:39] NicolasBFR commented on #8021
I replaced the line with `WEBLATE_BASIC_LANGUAGES: de,en,bg,hr,da,es,et,fi,fr,el,hu,ga,it,lv,lt,mt,nl,pl,pt,ro,sk,sl,sv,cs`.
This time it is compiling, but the languages are not limited

[2022-08-19 14:21] Geeyun-JY3 opened #8023 "The “project” part of the breadcrumb menu and some column titles are missing in the browse view of a specific language of a project"
### Describe the issue

In the browse view of a specific language of a project:

- The “project” part is missing in the breadcrumb menu.
- Some column titles are missing.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

1. Open the browse view of a spec

[2022-08-19 14:23] Geeyun-JY3 opened #8024 "The “project” part of the breadcrumb menu and some column titles are missing in the browse view of a specific language of a project"
### Describe the issue

In the browse view of a specific language of a project:

- The “project” part is missing in the breadcrumb menu.
- Some column titles are missing.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

1. Open the browse view of a spec

[2022-08-19 14:26] #8024 closed

[2022-08-19 14:52] yumithecat commented on #8015
My server host loaded a backup and it's fine now, so I'll just close this issue then. Thanks for taking your time to answer me tho.

[2022-08-19 14:52] #8015 closed

[2022-08-19 16:27] #7066 closed

[2022-08-19 18:21] nijel commented on #8021
String with comma separated values

[2022-08-19 19:15] NicolasBFR commented on #8021
With this : `WEBLATE_BASIC_LANGUAGES: "de","en","bg","hr","da","es","et","fi","fr","el","hu","ga","it","lv","lt","mt","nl","pl","pt","ro","sk","sl","sv","cs"`
or this `WEBLATE_BASIC_LANGUAGES: 'de','en','bg','hr','da','es','et','fi','fr','el','hu','ga','it','lv','lt','mt','nl','pl','pt','ro','sk','sl','sv','cs'`

docker-compose up gives me : `yaml: line 26: did not find expected key`

[2022-08-19 19:20] NicolasBFR commented on #8021
Oh, ok you meant this:

` WEBLATE_BASIC_LANGUAGES: "de,en,bg,hr,da,es,et,fi,fr,el,hu,ga,it,lv,lt,mt,nl,pl,pt,ro,sk,sl,sv,cs"`
The problem now is that the language list when starting new translation to a project still contains all languages:
![image](https://user-images.githubusercontent.com/55790631/185691725-ac29b357-b16e-4320-8ed4-74e65e76856a.png)

[2022-08-20 08:11] nijel commented on #8021
See https://docs.weblate.org/en/latest/admin/config.html#std-setting-BASIC_LANGUAGES

[2022-08-20 09:32] NicolasBFR commented on #8021
Oh ok thanks

[2022-08-20 09:32] #8021 closed

[2022-08-20 11:03] Gaberred opened #8031 "crediting xmr"
### Describe the issue

I made 3 transfers to 2 of my wallets a day ago and xmr did not come.
Txid:
bd76aca071dd80256cc13baa65ec26f85923205fffcad03ec35e994a082ddb32
Txid:
7963b170bc2997af22a5031191386dc0eea2368dde86a078a653b66134728715
Address:
48VvuMcMwZregWANEEATDvb1yRd4mjkNf2A8SgnWD1rP4nigoS43xBn5M2mZYpK7d7bDvqLicFPfmaJRm3sDMx1P9smtnDb
Address: 45R4JxgJCZRRKhErjSYHhmMtAN8DsPgop2Mau3poKzAHb2wvEg

[2022-08-20 11:37] nijel commented on #8031
Weblate is localization platform, not a xmr wallet...

[2022-08-20 11:37] #8031 closed

[2022-08-22 10:03] nedsociety opened #8036 "Source changes are not synced as fuzzy in the monolingual po"
### Describe the issue

Our project recently had some changes in the source strings. As it uses monolingual po, Weblate recognized the changes and flagged them as Needs Editing as described [here](https://docs.weblate.org/no/latest/faq.html#can-weblate-highlight-changes-in-a-fuzzy-string).

After that I tried to make the po files reflect the changes which Weblate had automatically made, by using t

[2022-08-22 14:42] nijel commented on #8015
If your translations are stored in the Git repository, maybe somebody else did (re)moved them and pushed that change?

Anyway the files were missing, Weblate correctly reported that, so I don't see any issue on the Weblate side.

[2022-08-22 21:23] ann0see commented on #6508
On hosted Weblate probably https://github.com/WeblateOrg/weblate/commit/90e101139ac8c89c7c931e0d7eb3edf1560c701a is already included, I assume. Even if the relevant checkboxes are set on GitHub, it doesn't change anything on Weblate, the E-Mail is still exposed.

![grafik](https://user-images.githubusercontent.com/20726856/186021217-5d26af95-14da-4da8-bcb5-07da2be8f306.png)
I assume it's not possi

[2022-08-22 22:43] yangyangdaji opened #8041 "source strings <Improved performance and memory usage of translation memory lookups> not found"
### Describe the issue

source strings <Improved performance and memory usage of translation memory lookups> not found

[search results](https://hosted.weblate.org/search/weblate/documentation/?offset=&q=Improved+performance+and+memory+usage+of+translation+memory+lookups&sort_by=-priority%2Cposition&checksum=)
![Screenshot_20220822_230041_edit_2449066849105](https://user-images.githubusercontent.c

[2022-08-23 00:28] Geeyun-JY3 commented on #8041
All you need to do is wait for the updates of PO files (corresponding commit message: i18n: Update PO files).

[2022-08-23 00:44] yangyangdaji commented on #8041
(https://github.com/WeblateOrg/weblate/commit/35a71476bfb58cf8e961d83578de44ecb35ece9b) i18n: Update PO files It is not included in the subcommit

[2022-08-23 00:55] Geeyun-JY3 commented on #8041
Because it is added after https://github.com/WeblateOrg/weblate/commit/35a71476bfb58cf8e961d83578de44ecb35ece9b: https://github.com/WeblateOrg/weblate/commit/2c0f0861570fe72e8cf852179063451290b32acc#diff-13939719fa5d88ab31dfc99a49861551b8e157a0ead47125cbe28a2ab72a122d

You need to wait for the next updates of PO files.

[2022-08-23 00:58] yangyangdaji commented on #8041
ok

[2022-08-23 05:37] Geeyun-JY3 commented on #8003
@nijel Actually, it is easy to reproduce this in the browse view. I have reproduced this several times before. I think some fixes are needed.

This is an issue with the browse view.
When searching something that is only contained by target strings in the browse view, then changing the matching results’ translation, which makes them no longer contain the searching keyword, the changed results would

[2022-08-23 06:19] yangyangdaji commented on #8003
yes

---Original---
From: ***@***.***&gt;
Date: Tue, Aug 23, 2022 13:37 PM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [WeblateOrg/weblate] The search result doesn't exist when clicked(Issue #8003)

@nijel Actually, it is easy to reproduce this in the browse view. I have reproduced this several times before. I think some fixes are needed.

This is an issue with the browse vie

[2022-08-23 08:02] tomkolp opened #8042 "Validation error new copy at project level"
### Describe the issue

I wanted to test the new backup functionality at project level, I only get an error.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

_No response_

### Expected behavior

_No response_

### Screenshots

_No response_

### Except

[2022-08-23 08:03] nijel commented on #6508
That commit just makes Weblate prefer the public e-mail address if you have it configured on GitHub.

[2022-08-23 08:07] #8042 closed

[2022-08-23 08:23] #8003 closed

[2022-08-23 08:25] bjorn3 commented on #6508
How do you set an e-mail address as public? I can't find any ui for it. The only option I see it to keep everything private or everything public.

[2022-08-23 08:37] nijel commented on #6508
When editing profile:

![obrazek](https://user-images.githubusercontent.com/212189/186112588-e855b82a-fc3f-4002-adf1-d0ed331bd5d1.png)

[2022-08-23 08:40] bjorn3 commented on #6508
I see, thanks! Unfortunately it isn't compatible with the option to prevent accidentally leaking any other email addresses. Maybe temporarily unchecking that option while creating a weblate account would work?

[2022-08-23 09:34] nijel commented on #6508
Weblate picks up public or primary mail. You can add and verify any e-mail and use that.

Also, I've improved the GitHub integration in b0cbaa31e0 to fetch all verified e-mails, so that you can choose them without need for additional verification.

[2022-08-23 09:45] ann0see commented on #6508
Does this allow to set the noreply E-Mail from GitHub now?

I think what's wanted here is to be able to have an invalid E-Mail in the translation files while still being able to receive Mails from Weblate.

[2022-08-23 09:52] nijel commented on #8036
For me, the fuzzy flag is written to the file on the force synchronization:

[code]

What is intentional is that this state is not written to the file directly - most of the monolingual files do not support his, and thus Weblate doesn't attempt to write the states caused by source string change.

[2022-08-23 10:31] nijel commented on #6508
No, Weblate needs a working e-mail and doesn't allow different e-mail for commit and notifications. That's why this issue is still open. The desired solution has been outlined in https://github.com/WeblateOrg/weblate/issues/6508#issuecomment-1150862268, patches to implement that are welcome.

[2022-08-23 10:43] nijel commented on #8016
It was intentionally implemented this way in 06934dd0133. Unfortunately, I didn't write any reasoning for that back then. And I don't see a reason for doing that now...

[2022-08-23 10:44] nedsociety commented on #8036
Weird, [here's](https://weblate.hyperq.be/projects/ftl-multiverse/dataevents_lightspeedxml/ko/) our environment. Files -> Download translation will have that entry marked without fuzzy:

[code]

I'm curious that which made the difference here.

Could you elaborate more? If that's the case then we would have never witnessed them being marked as fuzzy. But I've got it in my small-scale test (not tha

[2022-08-23 10:44] #8016 closed

[2022-08-23 10:48] nijel commented on #8036
There is no condition - the needs editing state triggered by source string change is never marked for writing out to the file. The state is kept in Weblate database only. This is because most monolingual formats do not support storing string states.

[2022-08-23 10:55] nedsociety commented on #8036
Well that's a bit confusing, contradicting both the documentation and my test results.

Anyway is there a way that we may query the state programmatically?

[2022-08-23 11:09] antonkomarev commented on #7601
@scott-gorman any progress on it?

[2022-08-23 11:18] antonkomarev opened #8044 "Cannot start from scratch "XLIFF" translation"
### Describe the issue

I'm trying to create a new component from the scratch, but "File format" select doesn't have XLIFF format.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

1. Go to "Add new translation component" https://weblate.example/create/c

[2022-08-23 11:38] yangyangdaji opened #8045 "[Edit/Check] Prompts that the source string has changed but has not changed"
# Prompts that the source string has changed but has not changed
### Probably a Memory Leak?
### I checked [Source file](https://github.com/GradienceTeam/Gradience/blob/064557419f18bc08365d37ff9cb4e765730cbdbe/po/Gradience.pot#L467) This issue is a weblate  Check issue

![Screenshot_20220823_191613_com android chrome_edit_45611897602415](https://user-images.githubusercontent.com/108261729/18614838

[2022-08-23 11:56] nijel commented on #8045
This check compares checksum submitted with the form and stored on the server. Is it possible that some browser add-on changed the content of the submitted form?

[2022-08-23 11:57] nijel commented on #8045
Just to clarify, the string you tried to translate is this one? https://hosted.weblate.org/translate/GradienceTeam/gradience/zh_Hans/?checksum=7f85889f3942c670

[2022-08-23 11:59] nijel commented on #8044
Weblate currently doesn't have a template for a blank file here, it needs to be added.

[2022-08-23 12:37] yangyangdaji commented on #8045
ok
[Video](https://github.com/yangyangdaji/h/blob/master/petal_20220823_202553.mp4?raw=true)

[2022-08-23 12:42] yangyangdaji commented on #8045
@nijel

[2022-08-23 13:38] ann0see commented on #6508
I don't know Python or the code base well enough, but do you have any pointers on how I could help out?

[2022-08-23 13:52] nijel commented on #8036
The states changed by Weblate are indeed not covered by the docs at all. Maybe the current behavior is wrong as well, I'm just describing how it currently behaves.

Note that I'm testing on 4.14, so it might behave slightly differently than you observe.

You can get the state using API: https://docs.weblate.org/en/latest/api.html#get--api-translations-(string-project)-(string-component)-(string-la

[2022-08-23 13:54] nedsociety commented on #8036
Got it, thanks. I'll try that API as a workaround for now.

[2022-08-23 14:05] nijel commented on #8036
Let's try if we can easily address this, I've drafted https://github.com/WeblateOrg/weblate/pull/8047 which should make Weblate commit these flags to the PO files.

[2022-08-23 14:14] nijel commented on #6508
In more detail, what is missing:

* The [VerifiedEmail](https://github.com/WeblateOrg/weblate/blob/072befc09cb5d66cb794343e940e50d6c9636a23/weblate/accounts/models.py#L347-L362) model needs to track information whether e-mail is suitable for e-mail delivery
* Extend [get_all_user_emails](https://github.com/WeblateOrg/weblate/blob/072befc09cb5d66cb794343e940e50d6c9636a23/weblate/accounts/utils.py#L

[2022-08-23 15:54] ann0see commented on #6508
Thanks. I'll try to look into the code base, but no guarantees ;-)

That should be easy with just some field "is_deliverable" added to the place where E-Mails are stored (DB?)

I think we need to look where the method is called and change the behavior based on a parameter

I think that's the interesting part. Would we want to add a generic noreply@weblate.org E-Mail here for people not using GitHu

[2022-08-23 16:07] #7899 closed

[2022-08-23 16:14] ann0see commented on #6508
After some thinking, wouldn't the cleanest way be to add another field in the user database containing the commit E-Mail? To me the code I read seems like it was targeted to one E-Mail only - and we need to save a possible commit E-Mail somewhere...

[2022-08-23 19:55] #8036 closed

[2022-08-23 23:50] yangyangdaji commented on #8045
@nijelI checked. Source file. This issue is a weblate detection issue（https://github.com/GradienceTeam/Gradience/blob/064557419f18bc08365d37ff9cb4e765730cbdbe/po/Gradience.pot#L467）

[2022-08-24 06:47] nijel commented on #6508
There will be currently no option for such users. We definitely do not want to commit all changes without any authorship. And providing such e-mail for every user needs some setup (see https://github.com/WeblateOrg/weblate/issues/6508#issuecomment-1152052663). So let's focus on selecting commit e-mail from those we already have for now.

The committer e-mail is typically `noreply@weblate.org` (it

[2022-08-24 07:02] reloxx13 opened #8052 "Adding Azure Login afterwards"
### Describe the issue

Heya,

i have a weblate instance running with only email login.
Now i want to add Azure. The users are not linkted to Azure now.

If they login with azure now, it says "email already in use". I would expect that the azure login would match and use the existing user instead of creating a new user.

Is the default auth pipeline wrong? as it has "associate_user" and "associate

[2022-08-24 07:07] #7940 closed

[2022-08-24 07:08] nijel commented on #8052
Duplicate of #7666

[2022-08-24 07:08] #8052 closed

[2022-08-24 07:10] reloxx13 commented on #8052
yeah i just found it now

[2022-08-24 07:14] nijel commented on #7882
https://github.com/WeblateOrg/weblate/pull/7894 might have fixed that, so I'd keep this closed until we see another occurrence. Alow, we now have better logging in place, that should make diagnosing the issue possible.

[2022-08-24 07:21] reloxx13 commented on #7666
i removed the raising error and it works for now. the account will also be linked after entering the existing password.
i hope we can get this supported somehow as ill have to do this after every update now.
thank you.

[2022-08-24 08:23] reloxx13 commented on #7794
i have the same problem now, a user registered with email before and also with azure and i cannot delete the 2nd one now to link the first account.

custom installation, git checkout, 4.13.

[2022-08-24 08:54] reloxx13 commented on #7794
Git checkout tag 4.14

<details>
<summary>python ./manage.py list_versions</summary>

[code]

</details>

<details>

<summary>./manage.py check --deploy</summary>

[code]

</details>

[2022-08-24 09:17] reloxx13 commented on #7794
Deleting on the normal user interface works
/user/deleted-62/#edit

[2022-08-24 11:35] orangesunny opened #8054 "Apply pseudolocale add-on on read-only strings"
### Describe the problem

Pseudolocale add-on works for translatable strings only.

### Describe the solution you'd like

Add a checkbox in the configuration to enable the add-on to fill the read-only strings into all translation files.

### Describe alternatives you've considered

_No response_

### Screenshots

_No response_

### Additional context

_No response_

[2022-08-24 12:56] #7602 closed

[2022-08-24 13:05] #7794 closed

[2022-08-24 13:21] nijel commented on #8045
Any response on https://github.com/WeblateOrg/weblate/issues/8045#issuecomment-1223963747?

[2022-08-24 13:23] reloxx13 commented on #2363
i cannot see deleted/disabled users in weblate ui are not shown which i see in the admin interface.
i would also prefer a cleaner user list like the table in djangi admin ui and not so blown up.

[2022-08-24 13:29] yangyangdaji commented on #8045
@nijel I'm using Chrome for Android
![Screenshot_20220824_212720](https://user-images.githubusercontent.com/108261729/186430887-fa6faf99-59df-45b7-a46e-00c575cc222c.jpg)
Unused extension

[2022-08-24 13:42] nijel commented on #2363
As you can see, this issue is still in progress...

[2022-08-25 02:19] #7983 closed

[2022-08-25 19:21] abcdeCoder commented on #1089
is this command valid for ubantu 22.4

[2022-08-26 02:22] #7992 closed

[2022-08-26 07:17] #8041 closed

[2022-08-26 07:33] #8054 closed

[2022-08-26 07:51] #7986 closed

[2022-08-26 07:53] #7976 closed

[2022-08-26 08:00] #7951 closed

[2022-08-26 14:22] arbaes opened #8060 "handle_unit_translation_change seems to crash everytime after container upgrade"
### Describe the issue

I upgraded the Weblate container according to the [documentation](https://docs.weblate.org/en/latest/admin/install/docker.html#upgrading-the-docker-container), but now after restart, my logs are spammed with the same traceback over and over again. ( see below)

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searc

[2022-08-26 22:12] arbaes commented on #8060
No sure what happened, but I noticed I had 300K+ items in the memory celery queue, now that they all failed, it seems to have come back to normal. Closing...

[2022-08-26 22:12] #8060 closed

[2022-08-27 14:49] WofWca commented on #7942
There's still a bit of an issue that if you enter a username that already exists and enter the CAPTCHA correctly and submit the form, the captcha challenge will refresh, but it won't show it, so form submission will fail again.

I think it would be ideal if users had to submit the CAPTCHA only once per successful registration.

[2022-08-27 17:00] alanazar commented on #7375
Hello,
Can you please check these errors?
https://translate.jellyfin.org/translate/jellyfin/jellyfin-web/my/?q=check:end_stop%20OR%20dismissed_check:end_stop

It seems Weblate is still picking up these as a full-stop error
။ – signifies a full stop, or the end of a sentence;
း။ – signifies a question mark;

The problem is weblate is picking up the last 2 lines as a misplaced fullstop even though t

[2022-08-28 00:53] Geeyun-JY3 commented on #8023
@nijel Some column titles are still missing:
![image](https://user-images.githubusercontent.com/49396421/187053073-eafc86c8-428f-4072-9e11-d1471fd5d89d.png)

[2022-08-28 07:14] ashutoshgngwr commented on #7520
@eighthave
cc @nijel

* Dev has no idea how to fix it, so ~~disables _lint_ or uses different translation service~~ manually fixes the lint errors by replacing `other` keys with `many`.
* Dev gets a report from a user that the app is force closing on their device.
* Dev opens up the Crashlytics dashboard to find a relevant issue with the following stacktrace: `android.content.res.Resources$NotFoun

[2022-08-28 21:17] ann0see commented on #6508
Ok thanks. So we'd incorporate a separate "no-reply" committer E-Mail only for GitHub users for now?

[2022-08-29 06:40] Changaco opened #8062 "Automatic translation machinery doesn't handle plurals"
### Describe the issue

In the UI, the “Automatic translations” tab only offers translations for the singular part of the source message. Similarly, the automatic translation add-on only fills the first translation item, and always based on the singular half of the source message, even when that's inappropriate.

### I already tried

- [X] I've read and searched [the documentation](https://docs.we

[2022-08-29 10:48] jzahradn opened #8065 "Problem with component creation for Mac due to duplicate EN language in the filemask"
### Describe the issue

Hi,

it is not clear to me why I am getting error during a component creation:
"There is more than one file for English language, please adjust the filemask and use components for translating different resources."
when I configure filemask this way:
"apps/desktop-client/smart-job-manager/SmartJobManager.Mac/Resources/*.lproj/Localizable.strings".

I don't see any other Engl

[2022-08-29 10:54] jzahradn commented on #8065
<img width="970" alt="image" src="https://user-images.githubusercontent.com/55885376/187185630-fc4b800b-52c5-4c52-a4c7-2f484e897e64.png">

[2022-08-29 14:44] jvdmeij opened #8066 "Clone to translation needs a change in order to be saved"
### Describe the issue

When using the 'clone to translation' button (1 on screenshot 1) the text is copied to the other language.

When not changing the text, the text is not saved. The counter of the translation is not updated (see screenshot 2). The text will saved (and counter will be updated) if you place a random character and remove it.

Screenshot 1:
![1](https://user-images.githubusercont

[2022-08-30 10:49] ann0see commented on #6508
Ok. I've now looked at the database, and it seems as if we do in fact only save one E-Mail. So we'd need to add a field to weblate_auth_user named e.g. commit_email. Then we'd set it via GUI (with verification if needed) and use this one for all git/svn operations?

[2022-08-30 13:00] ann0see commented on #6508
I don't seem to understand how the logic in the social login.

That's what I tried: https://github.com/WeblateOrg/weblate/commit/69a6e9630457d7e8d01076cd84187e02c2cda4fb until now.

What does VerifiedEmail do? get_all_user_email doesn't seem to use it as I expected:

I'd expect to have some array of E-Mails or VerifiedEmail objects which I can extend with a new field and modify. However, this does

[2022-08-30 17:51] nijel commented on #8066
It should be saved as needs editing without an edit. The not updated counter is indeed a minor issue

[2022-08-30 17:52] nijel commented on #8065
The base file is in English (this can be configured in the component) and there is also en file.

[2022-08-31 06:48] derkoe opened #8069 "Show error/warning in component when update errors occur"
### Describe the problem

Errors are not shown in the UI when the source files change in the repository and contain errors.

For example if you have component with Java properties and add a duplicate entry in the source file you'll get an error in the Weblate instance log:

    celery-celery stderr | [2022-08-31 06:20:15,500: WARNING/13484] angular-spring-heroes/webapp: skipping update due to erro

[2022-08-31 09:37] nijel commented on #8069
This was already fixed in 4.14

[2022-08-31 10:02] tomkolp commented on #8069
Which fix is ​​this? Perform with me too, I have a version:
<html>
<body>

4.14.1-dev — 82db0b5cffaa54757ee80dc8a201722be9099321
--

</body>
</html>4.14.1-dev — [82db0b5cffaa54757ee80dc8a201722be9099321](https://github.com/WeblateOrg/weblate/commits/82db0b5cffaa54757ee80dc8a201722be9099321)

[2022-08-31 12:18] nijel commented on #8069
This validation was completely removed in https://github.com/WeblateOrg/weblate/pull/7994

[2022-08-31 14:34] DiegoCaraballo commented on #7977
Hello @nijel how are you?
I would like to contribute.
Can I start with this?
Regards!

[2022-09-01 10:12] ashutoshgngwr opened #8072 "Internal Server Error when trying commit Weblate changes or synchronise Weblate repository"
### Describe the issue

When I click commit, I get Internal Server Error. The latest recorded id of the error is `15f25aa168e146179a91ee3e60e3428d`. I get the same error when trying to Update/Pull/Rebase the repository. Its latest recorded id is `b743b90716c24126bfdb8c2ec2d5011c`. I am not sure what is going on.

Before this started, I attempted to fix fatal crashes in my Android app caused by plu

[2022-09-01 10:41] nijel commented on #8072
Does it still happen? I've fixed similar issue tonight.

[2022-09-01 10:47] ashutoshgngwr commented on #8072
@nijel I just tried it, and it is still happening.

[2022-09-01 11:57] nijel commented on #8072
Ah, I fixed that, but didn't deploy the fix. It is working now.

For the record, the fix is https://github.com/translate/translate/pull/4713

[2022-09-01 11:57] #8072 closed

[2022-09-01 12:03] ashutoshgngwr commented on #8072
@nijel Thank you for the quick resolution! Everything is working as expected now.

[2022-09-01 12:24] #8023 closed

[2022-09-01 14:05] jzahradn commented on #8065
OK, thank you for clarification. If I keep only one Localizable.strings file the component can be created indeed.
However, it is strange because in most of our components we have both base and en files and we had never such problems during creating components.
We can close this issue.

[2022-09-01 16:43] EndOfTheSpline opened #8074 "Translations for strings added in Weblate get reset shortly after creation"
### Describe the issue

When creating a new string in a component backed by monolingual resx files and translating it into other languages using Weblate, it sometimes (frequently?) resets the translations back to an empty string a while after its creation. The original string is not changed during all of this.

This seems to only happen once after creation, which makes me believe that it might wri

[2022-09-04 01:14] John-Poulos commented on #7755
@nijel Is this worth contributing too if it is not an issue on hosted Weblate? Should this be closed?

[2022-09-04 02:19] yangyangdaji commented on #8045
ping

[2022-09-05 08:09] nijel commented on #8074
Have you checked whether the translation is written to the file?

[2022-09-05 16:09] EndOfTheSpline commented on #8074
I can't remember if we ever had a look between "translations are created" and "entries have been reset", but after the entires have been reset, only the main file (Resources.resx) contains the new strings. Resources.fr-ch.resx and Resources-it.ch.resx do not contain the new strings.

It's how we found out about the issue, mostly - by having PRs that weren't "balanced" (i.e. had multiple new string

[2022-09-06 13:18] nijel commented on #8074
The string should be added to the translation files once it is translated.

Going again through the original report, are you confident that it happens without the resx update add-on? To me, this looks the most likely way of introducing such bug (though, I still didn't manage to reproduce it).

[2022-09-06 13:37] EndOfTheSpline commented on #8074
I've added the resx add-on as a failed attempt to fix the issue. I've added the squash add-on at some point (although I believe the issue happened before already - just in two separate commits, one adding it, one removing it?), and the resx later on.

I'll happily try whatever you suggest. I've tried to reproduce it with my local installation, but couldn't trigger it, no matter what I tried - even

[2022-09-06 13:39] JiDW opened #8084 "Make it possible to hide some keys"
### Describe the problem

Hello,

We have to translate a nested JSON file format that can contain an unknown number of meta keys that should not be translated.

Ex:

[code]

In this example, we would like to hide every keys in the "mapping" level.

### Describe the solution you'd like

It could be an addon or component setting to have a "Hide keys mask" feature.

Ex:

![image](https://user-images.

[2022-09-06 17:44] nijel commented on #8074
Any update on the repository is performed with a lock held, so it should not be a concurrency issue. It could be an ordering issue - the new string is added to the source, it triggers commit, what might trigger resx add-on (it should not, it should happen once all pending changes are committed), which adds empty string. This could explain overriding translated pending string. Still, I could not fi

[2022-09-07 06:00] nijel commented on #8084
It might be possible to implement as an add-on based on `StoreBaseAddon` and monkey-patching the store. On the other side, I'm not convinced whether it's a good approach to such filtering.

What you can do right now is using bulk edit add-on to mark such strings read-only, see https://docs.weblate.org/en/latest/admin/addons.html#bulk-edit

[2022-09-07 06:57] nijel commented on #8045
I've tried to reproduce this with Chrome on Android as well, but I can't trigger this issue.

[2022-09-07 06:58] nijel commented on #8065
Maybe you have a different language configured as source? This alert is there for quote some time...

[2022-09-07 07:04] nijel commented on #6508
VerifiedEmail is a database model. It's a database query using Django ORM. It fetches "email" field from the matching object and creates a set from that.

The data needs to be fetched from GitHub during authentication and stored in the database (this already happens, it just needs to be extended to cover the deliverability flag). Then n the settings all user verified e-mail are available for selec

[2022-09-07 07:14] yangyangdaji commented on #8045
I have translated many projects 10+. There is a probability that this problem will occur

[2022-09-07 07:15] yangyangdaji commented on #8045
When I translate a lot of projects 10 or more. There is a probability that this problem will occur.

[2022-09-07 07:26] yangyangdaji commented on #8045
@nijel
Probably a memory overflow?

[2022-09-07 08:06] #8066 closed

[2022-09-07 17:44] Bubu opened #8087 "admin install documentation still mentions template loader section that was removed"
### Describe the issue

https://docs.weblate.org/en/latest/admin/install.html?highlight=loader#template-loading mentions:

but the loaders setting was removed. (I think it's all default now, so maybe the whole section can be removed? But maybe it just needs some rephrasing.)

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for s

[2022-09-07 19:29] Akshat-321 commented on #7755
please assign it to me

[2022-09-07 19:55] enrique9318 commented on #7584
Hi, can I help on this? is there any additional info that I might need before starting?

[2022-09-08 06:04] WofWca commented on #7584
Oh. That `<link>` is actually gone now 🦀🦀

[2022-09-08 06:04] #7584 closed

[2022-09-08 08:53] EndOfTheSpline commented on #8074
Yes, it seems hard to reproduce it. It's not guaranteed to happen even on the prod system where it does seemingly all the time.

However, it just happened again, and I had the resx addon uninstalled. This is the latest one:

[code]

Looking at it like this, it seems like adding another string could trigger this behaviour?

Roughly:

- T+0: The new string is added (TextA)
- T+20s: Translations have

[2022-09-08 10:29] WofWca commented on #8066
Doesn't look like saving in zen mode got fixed, see #8095.

[2022-09-08 11:26] KadAnna opened #8096 "Strings set as read-only should be displayed as translated AND validated"
### Describe the problem

At the moment, strings set as for review are displayed green, as they need to be reviewed. This is confusing both for users, so for translators.

### Describe the solution you'd like

When string is set as read-only, would you please have it considered as approved.

### Describe alternatives you've considered

Enable the workflow for review to read-ony strings. Although s

[2022-09-08 12:53] JiDW commented on #8084
I'll try to understand how the StoreBaseAddon works, thanks! If you have any other pointers to help me understand how it works, and what event I could listen to monkey-patch the store, that would be very welcome. If not, I'll manage.

I can't use bulk-edit for this because we'll have hundreds of different components that can change their meta at any time from more than 50 different developers and

[2022-09-08 12:55] alipovatyi opened #8097 "Plurals not generated properly in 4.14"
### Describe the issue

Before the 4.14 version of Weblate strings were generated correctly but now they are broken for some languages (ES, IT and FR in this case). If you try to download the files for Spanish (ES) or Italian (IT), you will find an empty `other` tag and a new `many` which is not applicable to these languages (the correct ones are described in the _Expected behavior_ section but in

[2022-09-08 14:01] nijel commented on #8097
This is desired, see https://github.com/WeblateOrg/weblate/issues/7888

[2022-09-08 16:04] jzahradn commented on #8065
English (en.lproj) set as both base and template while base.lproj exists in the same path and contains the same strings. More in screenshots.
<img width="984" alt="Snímek obrazovky 2022-09-08 v 17 56 39" src="https://user-images.githubusercontent.com/55885376/189169852-7ac6fd52-6ce1-4a3b-a8cb-00152da3d68d.png">
<img width="985" alt="Snímek obrazovky 2022-09-08 v 17 57 02" src="https://user-image

[2022-09-08 19:07] comradekingu opened #8100 "White on white text when cloning translation"
### Describe the issue

Cloning text gets me very unreadable text with FF 102.2.0esr (and Chromium 104.0.5112.101)

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

Go to either
https://hosted.weblate.org/zen/finamp/finamp/nb_NO/?offset=2&q=state%3A%3Ctr

[2022-09-09 06:32] #8100 closed

[2022-09-09 06:42] #8097 closed

[2022-09-09 10:00] alipovatyi commented on #8097
@nijel is it desired to generate empty tags even for languages that do not have such tags?

[2022-09-09 12:44] radzio commented on #8097
@nijel  are you sure that this is intended behavior? What about the empty tags?

[2022-09-09 14:37] QazPolma opened #8101 "Translation file string not deleted"
### Describe the issue

After removing a string from source file(outside of weblate UI) and updating the project in weblate, the string is not removed from translation files.

This documentation mentions removing source strings, but it doesn't explicitly mention that translation files will be updated, so it might not be a bug.
https://docs.weblate.org/en/latest/devel/translations.html#removing-exi

[2022-09-09 14:46] QazPolma opened #8102 "New translation strings inserted at the end of file"
### Describe the issue

New translation strings inserted at the end of their files instead of maintaining the position of the source file.
At the same time, the weblate UI maintains the position of the source string.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce t

[2022-09-11 11:59] yarons commented on #2969
Switching to SVG/Font based icons instead of images is fairly simple and there's also a way to invert the colors of an image with CSS.

Regarding inverting colors:
https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/invert

Regarding SVG/Fonts (There are many open source projects such as Feather, [etc.](https://www.designer-daily.com/6-great-open-source-svg-icon-libraries-you-should-c

[2022-09-11 16:00] SethFalco commented on #2969
I haven't checked the code, but I would assume those icons are SVGs.
If you just change the `fill` attribute to the value `currentColor` (supported in all major browsers) it'll inherit the `color` (font color).

Should be an easy fix for the icons, and is not a hack. (This is how things like FontAwesome achieve setting the color of their icons through CSS.)

[2022-09-11 20:48] keunes commented on #7797
I would support this feature request. For AntennaPod we're using Weblate to translate our website, and there's a link that opens modal (using javascript). For security reasons, we would [prefer](https://github.com/AntennaPod/antennapod.github.io/pull/181#discussion_r967671147) to disallow translators to edit this link.

[2022-09-12 07:04] #8087 closed

[2022-09-12 07:08] nijel commented on #2969
Yes, using fill is probably the way to go. We already use that for coloring SVGs (and all icons are SVGs). It was just a statement that CSS in https://github.com/WeblateOrg/weblate/issues/2969#issuecomment-994826966 does not cover this.

[2022-09-12 07:30] #8096 closed

[2022-09-12 07:42] nijel commented on #8102
Yes, the ordering is based on the monolingual base, ordering in the translation files is not maintained. If you want to sort the strings there is https://docs.weblate.org/en/latest/admin/addons.html#format-the-java-properties-file

[2022-09-12 07:43] nijel commented on #8101
Stale strings are not removed intentionally, if you want to remove them, use https://docs.weblate.org/en/latest/admin/addons.html#addon-weblate-cleanup-generic

[2022-09-12 08:22] nijel commented on #7375
I've fixed these now. It turns out that copy-pasting the composed question mark didn't work correctly and caused some issues.

[2022-09-12 08:25] nijel commented on #8084
The `store_post_load` of the add-on is called whenever file is parsed. You can then monkey-patch `all_store_units` property of the store to do filtering you want.

[2022-09-12 08:30] JiDW commented on #8084
Thank you!

[2022-09-12 10:25] anuj-scanova opened #8108 "Github pull request not created"
### Describe the issue

I have a self-hosted Weblate running on an EC2 instance using docker.

I want the weblate to create a pull request to the `master` branch once in a private repository.

Here is my VCS configuration for the project
<img width="1021" alt="Screen Shot 2022-09-12 at 3 00 58 PM" src="https://user-images.githubusercontent.com/105233146/189620905-ac2e56af-4338-42f7-aabd-3f0a0c5639

[2022-09-12 17:17] alanazar commented on #7375
Thank you! :)

[2022-09-13 01:38] yangyangdaji commented on #8100
@nijel the problem still exists
![Screenshot_20220913_093054_com android chrome](https://user-images.githubusercontent.com/108261729/189788342-26553615-625f-4a2c-a3a9-726f1715e462.jpg)

[2022-09-13 06:32] ldmpub opened #8110 "(bug) Using an automatic suggestion adds a "blank" text"
### Describe the issue

**When a string has to be translated and I use an "automatic suggestion" it adds a blank text.**

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

See video attached:
- Go to an empty translation
- Choose one "automatic suggestion

[2022-09-13 06:50] comradekingu commented on #8100
@yangyangdaji
Hosted Weblate is still on version 4.14.1-dev.
Once the new version is rolled out the fix will be included. :)

[2022-09-13 13:14] botanegg commented on #8074
Got similar problem with "Cleanup translation files" plugin

I use selfhosted weblate 4.14 and gitlab integration via ssh

1) translate a lot of strings
2) push some commits to gitlab repo with development changes (wo lang files changed, but trigger webhook in gitlab)
3) weblate runs Cleanup translation files", and push commit with small diff (removes 2 strings from big (1700 strings) file)
4) web

[2022-09-13 20:29] ann0see commented on #6508
Ok. I think i've made some progress: https://github.com/ann0see/weblate/tree/feature/hideMail

GUI still needs to be done.

[2022-09-13 21:18] ann0see commented on #6508
Ok. Now I get an error about a missing key after setting the commit E-Mail.

  File "/home/a0/weblate/weblate/accounts/models.py", line 307, in get_message
    message = ACCOUNT_ACTIVITY[activity]
KeyError: 'commit_email'

The database has the key and it is also updated.

[2022-09-14 06:36] nijel commented on #8074
Can you reproduce the issue without the add-on? It seems we might have issue with add-on execution, as that would explain such behavior.

[2022-09-14 06:59] nijel commented on #8110
Duplicate of #8100

[2022-09-14 06:59] #8110 closed

[2022-09-14 06:59] nijel commented on #8100
I'm deploying the fix right now...

[2022-09-14 07:02] nijel commented on #8108
Keep push URL empty in case you want to push to a fork, see https://docs.weblate.org/en/latest/admin/continuous.html#pushing-changes-from-weblate

[2022-09-14 07:27] botanegg commented on #8074
i cannot reproduce w/o addon
It seems like "cleanup" addon works first, and overwrite changes from weblate "pending to commit"

anyway i'll try to describe reproduction steps on next weekend

[2022-09-14 08:26] ldmpub commented on #8110
Thanks 👍.

Yes, it's a duplicate (I think I have not searched issues containing the word "white" 🙃).

[2022-09-14 10:47] nijel commented on #8074
https://github.com/WeblateOrg/weblate/pull/8113 might address this issue, I would appreciate if somebody could test whether it really does (I didn't yet manage to reproduce the issue).

[2022-09-14 14:02] borisBelloc opened #8115 "Untranslated number increased ; Things to check : Has been translated"
### Describe the issue

Hello,

The number of "Untranslated" has increased on our projet, I wanted to see why.
![image](https://user-images.githubusercontent.com/37147299/190165266-9292d55d-49bd-428b-bc4e-9f488c99ac69.png)

When I click to check why the number increased, I see that most untranslated string are tagged with : `Things to check :
 Has been translated`

Why is it happening ?
"**Fix str

[2022-09-14 15:39] antonkomarev opened #8116 "API unit creation is not available if "Manage strings" is disabled"
### Describe the problem

I want to disable adding new units creation from UI, but keep this functionality for the API call:
[code]

There is [Manage strings](https://docs.weblate.org/en/weblate-4.12.2/admin/projects.html#component-manage-units) feature, but it disables API creation too 😢

### Describe the solution you'd like

I want to be able to create units from API from this endpoint even if "

[2022-09-14 17:42] nijel commented on #8116
The API is intentionally consistent with the UI

[2022-09-14 19:05] antonkomarev opened #8117 "Reorder component creation form "new translation" fields"
### Describe the problem

`GET /create/component/doc/`

There are 2 linked fields in component creation form:
- Template for new translations
- Adding new translation

They are ordered logically incorrect IMHO. Because "Adding new translation" select value "Disable adding new translations" does not require to fill "Template for new translations".

### Describe the solution you'd like

Reorder fiel

[2022-09-15 07:01] #8117 closed

[2022-09-15 11:08] nijel opened #8119 "Reduce metrics disk usage"
### Describe the problem

Currently, the metrics and related indexes account to the most of the database usage. That is not really reasonable for a feature that displays trends and summaries.

### Describe the solution you'd like

The database usage should be reduced. The way to go might be to reduce the number of the rows by storing all data for a single day in a JSONField instead of having it in

[2022-09-15 11:40] nijel commented on #8116
There is separate permission for this (Add new string), using that might be better way to go if you want to restrict usage in some cases.

[2022-09-15 11:50] nijel commented on #8115
There was a bug that triggered this check for strings which have translation, but were marked as "needs editing". I don't recall where it got fixed, but you're using an outdated version which might be affected by this.

[2022-09-15 11:53] #8074 closed

[2022-09-15 13:33] superDross opened #8121 "New source string event does not list actually added strings"
### Describe the problem

The message created as part of https://github.com/WeblateOrg/weblate/issues/7880 did not add the source string to the actual message. It would be preferable to have the source string available in the message so we can be notified of exactly which source string has been created anytime a `Change.ACTION_NEW_STRING` is saved.

### Describe the solution you'd like

The featur

[2022-09-15 15:02] antonkomarev commented on #8116
So I need only one user account which can do that functionality, let's say bot user. And other teams can't add keys, right?

[2022-09-16 09:34] WofWca opened #8123 "Import/sync user settings from another Weblate instance/server/deployment"
### Describe the problem

It is common for people who translate one project to want to translate another, which may be self-hosting a Weblate instance.
It is annoying to create and set an account on each of them (selecting languages to translate and secondary languages, workflow preferences, external links).

### Describe the solution you'd like

A way to sync setting between different instances.

[2022-09-16 10:34] nijel commented on #8123
There is already [user data download](https://docs.weblate.org/en/latest/contributing/schemas.html#weblate-user-data-export), so the missing part is support for importing that.

[2022-09-16 10:36] nijel commented on #8121
The new string event is triggered once per update and might refer to multiple added strings (see `count` attribute).

[2022-09-16 11:06] wilkis3 opened #8124 "Package libjpeg62-turbo-dev is not available on Ubuntu"
### Describe the issue

The package libjpeg62-turbo-dev is not available on all Ubuntu versions only on Debian.

[code]

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

1. Update apt
2. Try to install libjpeg62-turbo-dev

### Expected behavior

libjpeg6

[2022-09-16 11:21] nijel commented on #8124
It seems to be https://packages.ubuntu.com/jammy/libjpeg-turbo8-dev there.

[2022-09-16 11:45] superDross commented on #8121
Thanks for clarifying.

In that case https://github.com/WeblateOrg/weblate/issues/7880 persists. We were not receiving and are still not receiving fedora messages when new source strings are created. To be specific I mean the `Change.ACTION_NEW_SOURCE` action is not emitting the message as it was prior to Weblate version 4.13.0.

Shall I reopen the aforementioned issue or close this one and create

[2022-09-16 12:55] borisBelloc commented on #8115
thanks for the fast answer 😀

[2022-09-17 09:46] calbasi opened #8132 "docker: Enable WEBLATE_GITLAB_CREDENTIALS environment variable"
### Describe the problem

Right now it seems I can use gitlab_username and gitlab_token variables. But when I try to use gitlab_credentials:

I get this error:

### Describe the solution you'd like

Add weblate_gitlab_credentials support

### Describe alternatives you've considered

_No response_

### Screenshots

_No response_

### Additional context

_No response_

[2022-09-17 11:36] dleidert opened #8129 "Please disable Glosbe automatic translation service by default"
### Describe the issue

Glosbe is enabled by default, but as pointed out in #5598 the service has been shut down. IMHO the Glosbe automatic translation service should either be removed or disabled by default then. Otherwise, it will still produce error messages by default.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for sim

[2022-09-18 21:35] absoftware opened #8131 "Document when use component as a glossary"
### Describe the issue

**Steps:**

1. Add component "iOS" (there is 6 files for 6 languages)
2. Add component "iOS Special Brand" (there is only 2 files for 2 languages)

**Expected:**
Weblate creates component for "iOS Special Brand" with 2 languages. We do not want commits in "push branch" with new files for languages.

**Current:**
Weblate adds files for 4 "missing" languages only because they

[2022-09-19 07:05] nijel commented on #8129
It is not enabled automatically, the only automatically enabled ones are built-in:

https://github.com/WeblateOrg/weblate/blob/3a8c199025a7e19a93fb74adaa51d0d672a1435d/weblate/machinery/models.py#L103-L106

[2022-09-19 07:13] nijel commented on #8065
It doesn't matter which of these you choose as base. Your Weblate is configured to parse `*.lproj` what matches both `Base.lproj` and `en.lproj`. See https://docs.weblate.org/en/latest/faq.html#what-does-mean-there-are-more-files-for-the-single-language-en

[2022-09-19 09:43] nijel commented on #7604
Things to decide before we start implementing this:

* Should webhooks be configured at component, project, or both?
* What all should be configured for webhooks (GitHub has URL, payload type (form/JSON), secret, SSL verification, event selection)?
* Should we log deliveries?
* Do we want to use add-ons for this or implement webhooks standalone?

There is also https://github.com/WeblateOrg/fedora_

[2022-09-19 09:51] nijel commented on #7459
Let's split this to two parts:

* Allow updating existing screenshots from the repository. Once the file in the repository is changed, the screenshot content would be updated. For Weblate it would be for example `docs/screenshots/file-download.png` to automatically get https://github.com/WeblateOrg/weblate/blob/main/docs/screenshots/file-download.png
* Allow discovery of new screenshots. Component

[2022-09-19 14:47] dleidert commented on #8129
I did never enable it, still it was enabled (and I also somehow remember to read in the docs that it is enabled by default). I'll try with a clean container to see if I can reproduce it, and let you know of my results.

[2022-09-19 15:42] OxygenCobalt opened #8134 "[Android Strings] Weblate tries to translate "reference" strings like `@string/label`"
### Describe the issue

I use reference strings in my Android app to reduce the amount of redundant strings that have the same content while still providing a better label for them in some contexts. These are usually formatted as `@string/label`. Recently, I have noticed that Weblate actively tries to translate these reference strings.

This usually ends up with them being "translated" by users an

[2022-09-20 07:55] nijel commented on #8129
In the Docker container, it will be enabled if `WEBLATE_MT_GLOSBE_ENABLED` environment is sent (this is legacy feature, it is there only for migration from older releases, current configuration is in the database only).

[2022-09-20 08:41] ParthS007 commented on #7865
@nijel Can you please add some implementation details here. Thanks 👍

[2022-09-20 08:54] nijel commented on #7865
The following code needs to be expanded to fall back to repo URL-based template if repoweb is not set:

https://github.com/WeblateOrg/weblate/blob/5bfcb775baf855ab89dc373a4901d20dfbe0fb1f/weblate/trans/models/component.py#L1155

* The get_repoweb_link needs to take `User` parameter to check `vcs.view` permission, all callers have to be adjusted to pass it
* The template will be generated for known

[2022-09-20 14:52] tibormarchynzoom opened #8136 "Plurals not working in 4.14.1 for i18next JSON v3"
### Describe the issue

If we have JSON file looks like this and using i18next JSON v3

[code]

Weblate is showing us alert saying

for all languages. Also when we want to translate plurals, there is not visible field for it in UI for other languages than English US. Also there is no field for "zero (_0)" form even in English US.

### I already tried

- [X] I've read and searched [the documentatio

[2022-09-21 06:59] tolikkk opened #8138 "external redis reconnect with nslookup"
### Describe the issue

Hello.

We use kubernetes weblate version 4.4.2-1 with external redis host. In our environment redis - is a cluster service with 2 nodes (master + slave). Master host is always known by a cluster DNS A-record, pointing to IP of current active RW redis node.

The problem we have - when redis host changes role master -> slave, weblate does no reconnect to new redis master. It

[2022-09-21 09:27] albert0815 opened #8139 "Migration failure when updating to 4.14.1"
### Describe the issue

Hi all,

We are running Weblate deployed into Kubernetes and tried to update from 4.3.1-1 to 4.14.1. On startup Weblate tries to run the migration which fails with a weird git error.

[code]
I do not really understand what is going wrong here and how to fix it. Seems like git configuration is incorrect, but I have no idea why it is broken now and how to fix it (git integrat

[2022-09-21 11:32] nijel commented on #7797
@keynes This can be partly addressed by https://docs.weblate.org/en/latest/user/checks.html#unsafe-html, but it will not prohibit editing the link.

[2022-09-21 12:04] nijel commented on #8121
There is no filtering in the emitting of the fedora messaging events. If the change is visible in Weblate history, the event will be emitted. Still, it does not refer to individual strings - this was always meant as a translation level event indicating that there are some new strings to translate, and the e-mail notifications are bound to this.

[2022-09-21 17:34] PeterNjeim opened #8140 "How to Obtain Translation Credits from API"
Can't find any way to obtain the translation credits from the REST API documentation. Workaround is to use a curl request with a sessionid cookie. I don't know if that id lasts forever so I'd rather have an API option instead.

Weblate version: `4.14.1` `Docker container`

[2022-09-22 07:18] nijel commented on #7977
@DiegoCaraballo Yes, contributions are always welcome!

[2022-09-22 08:10] nijel commented on #8140
Duplicate of #5459

[2022-09-22 08:10] #8140 closed

[2022-09-22 08:16] #8139 closed

[2022-09-22 08:19] nijel commented on #8138
It should be doable via Redis connection pool configuration, but I have no experience with that: https://github.com/jazzband/django-redis#connection-pools

[2022-09-22 08:35] nijel commented on #8136
The current implementation matches v3 documentation that you either use muptiple (`_<digit>` suffix) or simple (`_plural` suffix) plural, not both of them. See https://www.i18next.com/misc/json-format#i18next-json-v3

[2022-09-22 08:38] nijel commented on #8134
You can avoid showing these for translation by:

[code]

I'm not sure what is the best approach here:

- expanding the value will just add not needed effort to translate same strings multiple times
- escaping is there to allow actual translations starting with `@`

[2022-09-22 08:40] nijel commented on #8131
Is any of these configured as a glossary?

[2022-09-22 08:40] nijel commented on #8116
Yes.

[2022-09-22 17:05] OxygenCobalt commented on #8134
Oh, the translatable trick should work fine. Thanks.

[2022-09-22 17:05] #8134 closed

[2022-09-23 07:50] andhikalfariz commented on #7998
helo sir, may I try to fix this isse?

[2022-09-23 10:03] squigglybob opened #8149 "Quality check enforced, but not turned on"
### Describe the issue

I have a fresh docker install of weblate 4.14.1
I have added some components and punctuation checks etc. seem to be working well.

I would like to enable C Placeholder checks on the translations as we use PHP string placeholders alot.

I have turned on placeholder enforcement in the component settings for the translation, but then I get this error showing up in the componen

[2022-09-23 10:10] squigglybob commented on #8149
So I have found the solution, but not with the help of the docs.

I wonder if they could be updated to include a screenshot or directions on how to turn on these flags.

So the docs, talk alot about changing behaviour with the flags, and I chased around a lot clicking on these links
https://docs.weblate.org/en/weblate-4.14.1/user/checks.html
https://docs.weblate.org/en/weblate-4.14.1/admin/checks.

[2022-09-23 10:10] #8149 closed

[2022-09-23 13:55] dakur opened #8150 "Add ICU syntax highlighting with XML"
### Describe the issue

In [`icu-message-format` docs](https://docs.weblate.org/en/weblate-4.13.1/user/checks.html#icu-messageformat), there are useful `icu-flags` mentioned, but there is no explanation on how to use it.

I've tried `icu-message-format,icu-flags:xml`

![image](https://user-images.githubusercontent.com/9862581/191976659-7aabf1de-dbc1-4e15-b60c-e32377fe2488.png)

but that didn't see

[2022-09-23 15:04] dakur commented on #8150
Now I found this [doc page](https://docs.weblate.org/en/weblate-4.13.1/admin/checks.html#customizing-behavior-using-flags) from which it seems that `icu-message-format,icu-flags:xml` is truly correct.

However, it still doesn't work. Did I misunderstand something?

[2022-09-23 15:15] dakur commented on #8150
Ok, there are two problems:
- code blocks in docs are probably broken, because in source, there is an example: https://raw.githubusercontent.com/WeblateOrg/weblate/main/docs/user/checks.rst
- `icu-flags:xml` does not work or does something else than I expect. Shouldn't it highlight HTML/XML tags in ICU syntax (like above)?

[2022-09-23 19:23] QuocNguyen2412 commented on #7980
Hi, I would like to work on this.

[2022-09-25 12:58] Ravina-Deogadkar commented on #7998
Can I take this issue?

[2022-09-25 19:33] arkon opened #8151 "Language deletion does not persist"
### Describe the issue

Attempting to delete a language results in it continually returning.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

1. Delete a language. This can either be done via the Weblate UI (e.g. https://hosted.weblate.org/projects/tach

[2022-09-26 07:33] nijel commented on #8151
You have installed [Add missing languages add-on](https://docs.weblate.org/en/weblate-4.14.1/admin/addons.html#addon-weblate-consistency-languages) which does that.

[2022-09-26 07:33] nijel commented on #7998
Yes, anybody is welcome to contribute!

[2022-09-26 07:40] nijel commented on #7980
Any contributors are welcome!

[2022-09-26 07:45] nijel commented on #8150
I think the `xml` flag has no effect on UI highlighting, it affects the check only. The documentation for check is here: https://docs.weblate.org/en/weblate-4.13.1/user/checks.html#check-icu-message-format

[2022-09-26 09:04] dakur commented on #8150
@nijel Thanks for response. But `icu-message-format` does UI highlighting, doesn't it? How do I recognize which check does and which one doesn't?

I found the docs, but as I mentioned [above](https://github.com/WeblateOrg/weblate/issues/8150#issuecomment-1256347948), the `.. code-block::text` is not transformed, it's removed.

[2022-09-26 11:03] anuj-scanova opened #8155 "Create pull request instead of force push"
### Describe the issue

I have the following repository set up
<img width="717" alt="Screen Shot 2022-09-26 at 4 25 23 PM" src="https://user-images.githubusercontent.com/105233146/192259479-ed3ebb6a-41ac-4b18-ab50-5e31d7dfd0fd.png">

Basically what I want is,
1. Every time a code is pushed to the `qa` branch, changes should be updated in Weblate for translation.
2. When the translation is done, it

[2022-09-26 12:59] nijel commented on #8155
It behaves as intended and documented: https://docs.weblate.org/en/latest/admin/continuous.html#pushing-changes-from-weblate

[2022-09-26 15:30] Geeyun-JY3 commented on #7966
Seems related (not quite sure): https://github.com/readthedocs/readthedocs.org/issues/4490

[2022-09-26 20:33] ParthS007 commented on #7865
I started working it and I have following findings:

- I am assuming the `repo URL-based template` refers to link of the file in vcs on github/gitlab/.. etc!

- I went through `vcs/git.py` to look for merge requests integration check but I couldn't find any relevant code, where I can see if a VCS is using merge requests integration?

- For now, I created a draft on 1 assumption and returning templ

[2022-09-26 22:58] danial-shirali-1380 opened #8157 "The save button is not active"
### Describe the issue

When translating texts, the save button is not active for me

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

1. Go to '...'
2. Scroll down to '...'
3. Click on '...'
4. See error

### Expected behavior

_No response_

### Screen

[2022-09-27 03:12] andhikalfariz commented on #7998
Okay thank you sir! May I get assigned for this issue?

[2022-09-27 06:39] pilcrowls commented on #6672
Hello there, I had the exact same problem using weblate 4.14.1-1 (last version as of today).
I tried to investigate a bit but did not find anything special.
It fails when importing a valid (checked) XLF file.
Reseting the underlying repository works but that way it is then not possible to import the given file.
The solution I used is to reinstall everything and now with the same condition it works

[2022-09-27 09:04] nijel commented on #8157
There can be several reasons, the tooltip on the button will tell you that.

[2022-09-27 09:13] #6440 closed

[2022-09-27 09:18] #8124 closed

[2022-09-27 09:39] nijel commented on #7865
The integration is selected by the `vcs` attribute, I'd probably go with something generic like this:

[code]

For parsing the URLs and detecting the services, you might utilize URL detection in the hooks (though that one is for the opposite direction):

https://github.com/WeblateOrg/weblate/blob/b56a360873b9afe851f2909ebb9db42877a6296f/weblate/trans/views/hooks.py#L42-L80

[2022-09-27 12:49] nijel commented on #7998
Okay, I've just assigned you!

[2022-09-27 12:58] Ravina-Deogadkar commented on #7998
Is there anything else I can work on?

[2022-09-27 23:54] mig5 commented on #7566
@VygantasVoltasIT you might be interested to know that in Weblate 4.14.1, there's a new 'Groups' management interface in the Weblate (not Django) admin area. You are able to modify which roles are attached to the default 'Users' and 'Viewers' group, and you can also modify or delete the Automatic Assignments from that group. No more hacking around in the db!

See https://github.com/WeblateOrg/webl

[2022-09-28 02:34] comradekingu commented on #8115
@borisBelloc You can close the issue :)
https://docs.weblate.org/en/latest/admin/upgrade.html

[2022-09-28 05:07] #8115 closed

[2022-09-28 22:32] catter1 opened #8163 "Connecting to Dev Server"
### Describe the issue

I have followed the documentation to install Weblate on my Ubuntu 22.04 VPS. Running the `weblate runserver` command works, and I get a message saying:

I try to go to the website (substituting `127.0.0.1` for the IPv4 of my VPS), but it simply says "refused to connect". Am I missing something? How can I troubleshoot this?

In my `settings.py`, I have tried setting the `SIT

[2022-09-29 02:18] #8108 closed

[2022-09-29 03:12] #8045 closed

[2022-09-29 17:42] #8163 closed

[2022-09-30 02:18] #8102 closed

[2022-09-30 02:18] #8101 closed

[2022-09-30 18:41] MauricioFauth opened #8172 "Consecutive duplicated words false positive with bbcode markup"
### Describe the issue

I've got this failing check on Hosted Weblate:

English:
[code]

Portuguese (Brazil):
[code]

It's confusing the Portuguese word `em` with the `[em]` tag.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

_No response_

### Expect

[2022-10-01 04:01] prakhar1144 commented on #7977
Hey all,
I have started working on this issue.

[2022-10-01 04:27] ovari opened #8174 "Please add `lacks the keyboard accelerator mark '_'` option in `Strings status` to find `fatal errors`"
### Describe the problem

Please add `lacks the keyboard accelerator mark '_'` option in Weblate `Strings status`
* https://github.com/Gnucash/gnucash/pull/1440#issuecomment-1263843243
* https://github.com/Gnucash/gnucash/pull/1441#issuecomment-1263843485

### Describe the solution you'd like

Please add `lacks the keyboard accelerator mark '_'` option in Weblate `Strings status`

### Describe alt

[2022-10-01 05:26] Geeyun-JY3 commented on #8174
Duplicate of #5962

[2022-10-01 07:03] emmapeel2 opened #8175 "[enhancement] Duplicated translation alert could give the filenames"
### Describe the issue

The 'Duplicated translation' alert is very useful, but it could be improved:

When I received this alert, I got informed about the language and language codes that were making trouble, and asked to remove one of the files as a suggestion for this problem. But they don't tell me the name of the files:

![dupllicated-translation](https://user-images.githubusercontent.com/1148

[2022-10-01 14:36] arkon commented on #8151
Ah, that'd make sense. I wonder if there'd be a more intuitive way of deleting languages across components in that case.

[2022-10-01 14:36] #8151 closed

[2022-10-02 00:01] alexjensen2002 commented on #7977
Oh, my apologies @prakhar1144 I forgot to say I started working on this earlier. I'm pretty much done with it, though I'm not entirely clear on how or whether I need to do unit tests/etc for this, since it's just an HTML change.

@nijel how would I go about making a pull request and/or getting feedback on if my code is ready to merge?

[2022-10-02 15:36] jatinmark commented on #8132
I would like to work on this. Can you please assign this to me?

[2022-10-03 00:14] alexjensen2002 commented on #7977
Oh, oops, I didn't see the compare across forks button before so I thought that I couldn't make a PR for some reason haha.

I wasn't sure how to do unit tests or squash commits, so for now this is just a draft PR.
I'm using WSL and Docker for my setup, by the way, so if you have any way to help me there that would be appreciated. When I try to use rundev.sh to test it doesn't find any tests, so I

[2022-10-03 08:08] absoftware commented on #8131
@nijel Thank you for your response. Yes, I use them as glossaries. I will make additional tests and will come back to you. But if it's not a bug, then what is the difference in comparison to plugins to keep all components with the same set of languages?

[2022-10-03 09:49] absoftware commented on #8131
I've made tests.

Steps:

1. Add component "iOS" (there is 6 files for 6 languages) - NO GLOSSARY
2. Add component "iOS Special Brand" (there is only 2 files for 2 languages)

Result:

- Component "iOS Special Brand" is created with 2 languages when it's not a glossary.
- Component "iOS Special Brand" is created with 6 languages if it's a glossary.

So yes, we could assume that glossaries needs to

[2022-10-04 00:59] comradekingu commented on #8157
@danial-shirali-1380
Are you logged in?

[2022-10-04 10:06] hussainshaikh12 commented on #7659
Hey can you assign this issue to me.

[2022-10-05 09:04] nijel commented on #7659
@hussainshaikh12  You're welcome!

[2022-10-05 09:46] KaVeKa commented on #7767
We're having the same inconvenience on our projects. :-) Would be really helpful to have this information displayed on the web interface.

[2022-10-05 10:35] nijel commented on #7767
First, translate-toolkit needs to support querying context groups by purpose here: https://github.com/translate/translate/blob/cc9a7b8fa4089399150a4605c1438c29897538bc/translate/storage/xliff.py#L542-L562. Once this is done, support in Weblate can be added.

[2022-10-05 12:22] #8174 closed

[2022-10-05 12:24] nijel commented on #8131
See https://docs.weblate.org/en/latest/user/glossary.html for information how glossaries are used.

[2022-10-05 12:37] #8175 closed

[2022-10-05 12:59] nijel commented on #8172
Right now, the bbcode check is based on heuristics, and thus it doesn't influence others. It should be converted to be enabled based on flag (probably `bbcode-text` to be consistent with others) and it can be then used for filtering the string for other checks (similarly as with `rst-text`).

[2022-10-05 13:47] bery commented on #8108
@nijel we're facing the opposite issue - as per the docs, we've filled in the push URL in order to create a PR, yet weblate creates PRs via fork. Any thoughts on how to debug that?

[2022-10-05 19:46] keunes commented on #7797
Thanks for the tip @nijel. I'm afraid that it seems that the setting the `safe-html` flag won't work for us as we need the `data-toggle` and `data-target` attributes in our tag to display the modal. These values don't [seem](https://bleach.readthedocs.io/en/latest/clean.html#allowed-attributes-attributes) to be in Bleach's default allow-list, and I suppose they aren't (and won't be) white-listed o

[2022-10-06 02:16] #8129 closed

[2022-10-06 02:16] #8065 closed

[2022-10-06 04:31] MahendraBishnoi29 commented on #8172
@nijel can you guide me how to do it? I would love to work on it.

[2022-10-06 10:07] berrange opened #8189 "Admin housekeeping: delete containers in weblate gitlab.com forks of virtualization projects to save storage quota"
### Describe the issue

This is NOT a bug report, rather it is an administrative house keeping request/suggestion wrt weblate's usage of gitlab.com for various projects, that requires attention from weblate admins.

GitLab previously announced their intention to apply limits to the free tier

  https://about.gitlab.com/blog/2022/03/24/efficient-free-tier/
  https://about.gitlab.com/pricing/faq-eff

[2022-10-06 19:03] Nibba2018 commented on #5854
Hello @Oymate , I would like to work on this issue if it's not already assigned to someone else.

[2022-10-06 21:03] ParthS007 commented on #7865
I added the url detection for services, I was not sure on how the URL will look like for services other than github, so kept them as to do for now. Please let me know if it is the right direction and how can I test the functionality. I went through the tests, i am assuming now I have to test something like this? https://github.com/WeblateOrg/weblate/blob/main/weblate/trans/tests/test_templatetags.

[2022-10-07 02:17] #8138 closed

[2022-10-07 02:17] #8136 closed

[2022-10-07 02:17] #8116 closed

[2022-10-07 06:09] anuj-scanova opened #8192 "Add user to the component"
### Describe the issue

Mine is a private project and have created multiple components for the project
<img width="1669" alt="Screen Shot 2022-10-07 at 11 35 40 AM" src="https://user-images.githubusercontent.com/105233146/194478956-e6d22219-f400-4ea7-9d6e-3dbe10af8726.png">

[code]

Each component is a restricted component
<img width="568" alt="Screen Shot 2022-10-07 at 11 36 12 AM" src="https://u

[2022-10-07 06:16] Oymate commented on #5854
I think this was fixed actually. See exa.: https://hosted.weblate.org/translate/newpipe/strings/bn_BD/?q=।&sort_by=-priority%2Cposition&offset=3

@Nibba2018

[2022-10-07 06:55] nijel commented on #5854
I don't think there's an autofixer for this...

[2022-10-07 06:56] nijel commented on #8192
This can currently be configured at /admin/, adding to teams UI should not be hard.

[2022-10-07 07:03] NielsMunck opened #8193 "HTTPS not enabled"
### Describe the issue

HTTPS is not enabled on your platform for some reason, which means that Chrome won't allow me to access the platform...

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

_No response_

### Expected behavior

_No response_

### Scr

[2022-10-07 11:21] reloxx13 opened #8195 "Borg 1.2.x update"
### Describe the issue

Heya,

are there any known problems with borgbackup 1.2.0 ?
I want to use the new import-tar command introduced in 1.2.0 because I'm moving to a new server.
`export-tar` worked fine, but I cannot find a good explanation about how to import the archive.tar back now.
Current version is `borg 1.1.18`

https://github.com/WeblateOrg/weblate/blob/af3e55ffe1b7f0e4cb30aa52011fe98a3

[2022-10-08 10:37] yangyangdaji opened #8196 "Make approved translations string editable"
### Describe the problem

As proposed at https://github.com/GradienceTeam/Gradience/pull/616#issuecomment-1272144043
When an Incorrect is found in the translation string of an annotation. It can be changed at any time. Instead of changing the translation source file
![Screenshot_20221008_184401](https://user-images.githubusercontent.com/108261729/194703623-570e9c7b-fe01-46f4-bac5-3bbf81be9d35.jpg)

[2022-10-08 13:39] Richard7111 commented on #8192
Hi, can you assign this issue to me? Would like to work on it.

[2022-10-08 13:46] tomkolp opened #8197 "Failed to fetch translations from Weblate Translation Memory"
### Describe the issue

After entering "automatic suggestions" you will get an error and nothing will be displayed.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

1. Go to automatic suggestions

### Expected behavior

_No response_

### Screenshots

!

[2022-10-09 05:59] Geeyun-JY3 commented on #8196
No. Making translations uneditable is what approved translation is for.
The issue here is why these translations are approved when they are shown as `Translated` in the `History` tab.
![image](https://user-images.githubusercontent.com/49396421/194740391-b7b3996d-e9f7-4e8e-a295-6df295d2107a.png)

And I think you should ask the project maintainer whether some configurations about the review workflow

[2022-10-09 06:08] yangyangdaji commented on #8196
ok

[2022-10-09 06:52] #8196 closed

[2022-10-09 08:22] yangyangdaji opened #8198 "add Pop-up warning for review:"Approval translation""
Superseded https://github.com/WeblateOrg/weblate/issues/8196

# Describe the problem
As proposed at GradienceTeam/Gradience#616 (comment)

The name "Approved Translation" can be misunderstood by project maintainers/reviewers.
Not known to cause read-only

So need to add Pop-up warning when clicking on the approve button for the maintainers/reviewers. After approval Contributors cannot change ,aski

[2022-10-09 08:26] yangyangdaji commented on #8198
ping @nijel

[2022-10-09 08:31] yangyangdaji commented on #8196
Replaced by https://github.com/WeblateOrg/weblate/issues/8196

[2022-10-09 08:32] yangyangdaji commented on #8196
Replaced by https://github.com/WeblateOrg/weblate/issues/8198

[2022-10-10 13:05] #8195 closed

[2022-10-11 02:18] #8155 closed

[2022-10-11 03:48] Geeyun-JY3 commented on #8198
TBH I do not see why the prompt box for approved translation is necessary.
Can you explain why “misunderstood by project maintainers” then need to “inform contributors”?

The dimmed `Save and continue` button and missing `Save and stay` button already indicate that the current translation is approved.

I would suggest adding a state badge just like the `read-only` badge.

[2022-10-11 04:08] yangyangdaji commented on #8198
@Geeyun-JY3
add a Prompt Box to warn the maintainers. Contributors cannot change it after approval.

[2022-10-11 05:20] Geeyun-JY3 commented on #8198
Please detail where you want to add such a prompt box. [Project Setting UI](https://docs.weblate.org/en/latest/workflows.html#turning-on-reviews) or somewhere else?
There is no such a `Approved Translation` string in Weblate UI.

[2022-10-11 05:36] yangyangdaji commented on #8198
add a Pop-up warning for "Approve Translation.

[2022-10-11 05:58] comradekingu commented on #8198
How about just changing the name to what it actually does?
Do you mean "reviewed"? (I didn't know that caused locking.)

[2022-10-11 06:04] yangyangdaji commented on #8198
LGTM :)

[2022-10-11 06:10] Geeyun-JY3 commented on #8198
I got you.
But obviously this should be a warning for reviewers instead of maintainers.

And I think this is unnecessary.
The button itself already indicates its effect. I do not see why a reviewer would be misunderstood by these buttons.
A extra pop-up warning just makes the whole workflow less efficient.

[2022-10-11 06:16] Geeyun-JY3 commented on #8198
Please detail the string you want to change.

[2022-10-11 12:27] prakhar1144 commented on #8192
Hi, @nijel  I would like to work on this issue. Please assign this to me.

[2022-10-11 12:39] wuhuang26 opened #8202 "Developer submission context missing name field value"
### Describe the issue

Mode: Weblate + Gitlab
Developer modify  mid.ts file add:
[code]
git push gitlab
Weblate update after translate missing name field value "AdvancedTest"

File Format: Qt Linguist translation file (*.ts)
OS: Debian11
Deployment mode: docker-compose

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for simila

[2022-10-11 12:58] berrange commented on #8189
That has now happened, the 'weblate' account has no remaining CI quota for the rest of October, having consumed its 2000 free minutes.

[2022-10-11 14:26] nijel commented on #8189
I've done some cleanup of the storage now and that should be fine. I don't see a good solution for CI quota right now. The fix will be to have a proper integration with GitLab and stop using user for the integration...

[2022-10-11 15:11] QazPolma opened #8203 "sitemap.xml exception"
### Describe the issue

When calling /sitemap.xml the page ends up with an exception "ValueError at /sitemap.xml" "max() arg is an empty sequence".

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

1. Clean(initial) deploy of docker image
2. Go to  /site

[2022-10-11 22:34] Bubu opened #8205 "expose SOCIAL_AUTH_GITEA config options for docker deployment"
### Describe the problem

We'd like to configure gitea oauth for a docker deployment. This currently requires using `settings-override.py`, it would be nice if it instead can be exposed like all the other oauth settings via `WEBLATE_*` env vars.

### Describe the solution you'd like

see above

### Describe alternatives you've considered

_No response_

### Screenshots

_No response_

### Addition

[2022-10-12 02:10] comradekingu commented on #8198
@Geeyun-JY3 You are saying it is called "Approval translation", and I don't know where that is used.
Secondarily, for some sort of reviewed string to also lock the translation should be expressed, when it isn't currently.
Personally I don't like locked strings at all.

[2022-10-12 02:57] Geeyun-JY3 commented on #8198
@comradekingu It is not me. It is @yangyangdaji who [mentioned "Approval translation".](https://github.com/WeblateOrg/weblate/issues/8198#issuecomment-1274059369)

I just [said](https://github.com/WeblateOrg/weblate/issues/8198#issuecomment-1274101706):

***

TBH I do not really understand this sentence.

Like it or not, approving strings to make it uneditable just a part of the workflow.🤷🏻‍♂️ It

[2022-10-12 03:08] yangyangdaji commented on #8198
@Geeyun-JY3
![Screenshot_20221012_110649](https://user-images.githubusercontent.com/108261729/195240766-f60b6d3e-f439-4f5a-8551-b869205bf0fd.jpg)

[2022-10-12 03:16] Geeyun-JY3 commented on #8198
I know this and it is useless. We still do not what configurations are set.

[2022-10-12 03:18] comradekingu commented on #8198
https://docs.weblate.org/en/latest/workflows.html#translation-states

The question is _why_ it locks strings to reviewers. To be used right before a release?

[2022-10-12 03:21] yangyangdaji commented on #8198
It looks to me like they should be using some kind of script. Implementing automatic approval

[2022-10-12 03:24] yangyangdaji commented on #8198
That's why https://github.com/WeblateOrg/weblate/issues/8196 was proposed

[2022-10-12 03:44] comradekingu commented on #8198
The real question is _why_ reviewing stuff locks it for anyone besides other reviewers.
Is it to be used just prior to release? What happens when it is switched on and off?

https://docs.weblate.org/en/latest/workflows.html is in a sorry state.

@Geeyun-JY3 I see you are added as a reviewer for https://github.com/WeblateOrg/weblate/pull/7505/files#commit-suggestions
Tried to brush it up just now.

[2022-10-12 04:13] Geeyun-JY3 commented on #8198
Locking strings to reviewers is what the approved state is for. That is the function. I think the [documentation you mentioned](https://docs.weblate.org/en/weblate-4.14.1/workflows.html#translation-states) has already clarified this.
If you are asking why strings are approved in some projects, you should ask the project maintainers. There are many reasons for them to choose to enable review workfl

[2022-10-12 05:01] comradekingu opened #8206 "Sphinx link-checker complains about redirects"
### Describe the issue

https://github.com/comradekingu/Weblate/actions/runs/3231846508/jobs/5291803739

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

Make PR touching the docs
It runs through every link, throwing (semi) errors

### Expected behaviour

[2022-10-12 06:19] yangyangdaji commented on #8198
I will use the Issues for discussion

[2022-10-12 09:28] Geeyun-JY3 commented on #8206
I do not know how to fix it.

[2022-10-12 10:08] Geeyun-JY3 commented on #8198
What a mess…

[2022-10-12 10:14] yangyangdaji opened #8208 "(review: "Strings waiting for review") Feature Suggestions"
Superseded https://github.com/WeblateOrg/weblate/issues/8198

# Describe the problem
###  Chinese
不是所有人都会看文档。大部分人只会理解表面意思「批准翻译」而不知道实际效果
这就是为什么我提出https://github.com/WeblateOrg/weblate/issues/8198 和 #8196 的原因

### English

1. Click "Save" Weblate will change the translation directly to create the illusion that approval is not required
![Screenshot_20221013_095158](https://user-images.githubuserconte

[2022-10-12 10:18] yangyangdaji commented on #8198
Replaced by #8208

[2022-10-12 12:59] nijel commented on #8206
The redirects are warnings, errors are elsewhere.

Also, it is easier to read via GitHub: https://github.com/comradekingu/Weblate/actions/runs/3231846508

The error itself has been already fixed in c86fa566b90c22cfe01e01283f7f44b72f5e38ed

[2022-10-12 12:59] #8206 closed

[2022-10-12 13:27] nijel commented on #8208
The name is based on XLIFF (http://docs.oasis-open.org/xliff/v1.2/os/xliff-core.html#approved)

[2022-10-12 13:39] nijel commented on #8203
This happens only as long as you have no content. I've reported this issue to Django as it's in their generic code: https://code.djangoproject.com/ticket/34088

[2022-10-12 13:39] #8203 closed

[2022-10-12 14:01] yangyangdaji commented on #8208
I know, but I think if the translation needs to be approved, then he can't translate the string directly but only suggest that if he changes the translation string, it means don't review it

[2022-10-12 14:45] #8121 closed

[2022-10-12 15:11] Geeyun-JY3 commented on #8208
(TBH, this sentence is quite hard to understand. Please organize your words)

I think you just do not understand what “review” means in l10n and Weblate. Just try to figure it out and get used to it. “Review” is a commonly used term in l10n.

[2022-10-12 23:14] Bubu opened #8210 "expose AVATAR_URL_PREFIX config option for docker deployment"
### Describe the problem

I'd like to set the AVATAR_URL_PREFIX option via environment variable. It's currently only possible via `settings-override.py`

### Describe the solution you'd like

see above

### Describe alternatives you've considered

_No response_

### Screenshots

_No response_

### Additional context

_No response_

[2022-10-13 00:01] yangyangdaji commented on #8208
@Geeyun-JY3 Let's make a hypothesis

# 1. Strings waiting for review
Contributors cannot change translation
but can Suggest
Awaiting approval from reviewers

### Just like in Crowdin:
![Screenshot_20221013_075639_com android chrome_edit_3462296721346](https://user-images.githubusercontent.com/108261729/195468919-42febca9-3146-4c40-8ac2-82b9427c474d.jpg)

# 2. Translated strings
Contributors can ch

[2022-10-13 01:41] Geeyun-JY3 commented on #8208
So, what is wrong with the Weblate UI?

[2022-10-13 02:23] yangyangdaji commented on #8208
@Geeyun-JY3

1. Click "Save" Weblate will change the translation directly to create the illusion that approval is not required
![Screenshot_20221013_095158](https://user-images.githubusercontent.com/108261729/195484066-6a0d7e42-badd-4154-aac1-2572c40456aa.jpg)

2. (Strings waiting for review) indicates that these translations are Suggest
Needs reviewers approval
So Keep one a Suggest button
and tr

[2022-10-13 02:57] Geeyun-JY3 commented on #8208
要不你还是写中文吧，你这英文也太烂了，真心看不懂。

[2022-10-13 03:05] yangyangdaji commented on #8208
@Geeyun-JY3 我的意思是 Crowdin 那样，既然是带审核的翻译。那么那么就不要让贡献者直接更改字符串，应该和建议一样等待他的审查者审核 同意之后在更改字符串。

[2022-10-13 03:06] yangyangdaji commented on #8208
或者就不需要说成等待审查，直接视为已翻译

[2022-10-13 03:38] #8198 closed

[2022-10-13 03:43] yangyangdaji commented on #8208
问题就这么简单仅此而已，我觉得不说英文更快点
我还用了 Grammarly 😂

[2022-10-13 07:48] keunes commented on #7797
Hi @rsr-cs,
Weblate offers the option to fund development to get new functionality and enhancements implemented. Would you (your organisation) be interested in co-funding this? If potentially yes, please don't hesitate to drop me a line via [my username] at mailbox.org.

[2022-10-13 08:35] superDross opened #8211 "Messages are not being emitted when new source strings are created"
### Describe the issue

When new source strings are created a Change with action `ACTION_NEW_UNIT` is added to the database. This is meant to also produce a post save signal which triggers a message to be sent via Weblate fedora messaging library.

This no longer works. We opened a similar issue here but the underlying cause was not found: https://github.com/WeblateOrg/weblate/issues/7880

I belie

[2022-10-13 08:55] xerenahmed opened #8212 "Google key is set but doesn't show in machine translation options"
### Describe the issue

I set the Google API Key with the name `WEBLATE_MT_GOOGLE_KEY`. API Key is valid.

<img width="1407" alt="Screen Shot 2022-10-13 at 11 50 33" src="https://user-images.githubusercontent.com/35738714/195549754-6b2927e3-fec2-4f85-a17d-d1a4fcbb7495.png">

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for si

[2022-10-13 09:04] Geeyun-JY3 commented on #8208
0. 不要把 Crowdin 的翻译流程（workflow）套在 Weblate 上，本来就是不一样的设计和逻辑。
1. Crowdin 的模式是：平行展示曾经提交过的译文作为候选项，在译文（translation）未被 approve 时，采用最高票译文，如平票则采用最新提交的译文，一样会更改 VCS 里的译文，和 Weblate 这种直接更改本质上是类似的，并不是说译文被 approve 了才会被推送到 VCS（根据我的观察 crowdin.com 上的大部分项目都是这样，没研究过 Crowdin 有没有提供其他可改变翻译流程的相关设置项，猜测应该是有的，只是我暂时还没碰到过这样的项目）。
2. Weblate 的模式是：无论项目是否启用审校（Enable reviews），只采用最新提交的译文，在字符串未被 approve 前，不同的译文想要竞争，实践中更建议通过提交建议（sugge

[2022-10-13 09:09] Geeyun-JY3 commented on #8208
0. 不要把 Crowdin 的翻译流程（workflow）套在 Weblate 上，本来就是不一样的设计和逻辑。
1. Crowdin 的模式是：平行展示曾经提交过的译文作为候选项，在译文（translation）未被 approve 时，采用最高票译文，如平票则采用最新提交的译文，一样会更改 VCS 里的译文，和 Weblate 这种直接更改本质上是类似的，并不是说译文被 approve 了才会被推送到 VCS（根据我的观察 crowdin.com 上的大部分项目都是这样，没研究过 Crowdin 有没有提供其他可改变翻译流程的相关设置项，猜测应该是有的，只是我暂时还没碰到过这样的项目）。
2. Weblate 的模式是：无论项目是否启用审校（Enable reviews），只采用最新提交的译文，在字符串未被 approve 前，不同的译文想要竞争，实践中更建议通过提交建议（sugge

[2022-10-13 09:49] yangyangdaji commented on #8208
impossible

[2022-10-13 09:49] #8208 closed

[2022-10-13 10:12] Geeyun-JY3 commented on #8208
[Translation approved](https://hosted.weblate.org/translate/weblate/application/en/?checksum=d29a1f12e0564633) 这字符串有啥不好理解的地方😳？

[2022-10-13 10:20] yangyangdaji commented on #8208
我觉得他应该选择选项才会达到这种效果，我想把类似的改成 [批准并设为不可编辑]

---Original---
From: ***@***.***&gt;
Date: Thu, Oct 13, 2022 18:12 PM
To: ***@***.***&gt;;
Cc: ***@***.***&gt;;"State ***@***.***&gt;;
Subject: Re: [WeblateOrg/weblate] (review: "Strings waiting for review")Feature Suggestions (Issue #8208)

Translation approved 这字符串有啥不好理解的地方😳？

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are rece

[2022-10-13 10:23] yangyangdaji commented on #8208
@Geeyun-JY3 谢谢耐心的替我解答

[2022-10-13 11:06] Geeyun-JY3 commented on #8208
`approved` 这个状态就是让无权限的人不能编辑，叫什么「不可编辑」显然也会误导。

Crowdin、OneSky 用的也都是「Approved」，就是习惯一下的事，这本就是个在 l10n 里很常见的单词。

[2022-10-13 11:10] yangyangdaji commented on #8208
懂了

---Original---
From: ***@***.***&gt;
Date: Thu, Oct 13, 2022 19:06 PM
To: ***@***.***&gt;;
Cc: ***@***.***&gt;;"State ***@***.***&gt;;
Subject: Re: [WeblateOrg/weblate] (review: "Strings waiting for review")Feature Suggestions (Issue #8208)

approved 这个状态就是让无权限的人不能编辑，叫什么「不可编辑」显然也会误导。

Crowdin、OneSky 用的也都是「Approved」，就是习惯一下的事，这本就是个在 l10n 里很常见的单词。

—
Reply to this email directly, view it on GitHu

[2022-10-14 10:40] ShockedPlot7560 opened #8214 "Error while pushing to remote"
### Describe the issue

The following error appears

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

1. Create project
2. Create component from blank
3. Create string translation
4. Push changes

### Expected behavior

Work normally

### Screenshots

![

[2022-10-14 11:10] jerzy-dudzic opened #8215 "New translation for SRT file has all the strings marked as "translated""
### Describe the issue

Hello,

I have a problem with SRT files translations. Let's say I have a source SRT file in Polish. When I create another translation, for instance English, all units in English translation are being set automatically to "translated" state:
![obraz](https://user-images.githubusercontent.com/30810342/195829012-9cae8326-ac41-40ce-b152-24d811aa55ad.png)

All those units in Eng

[2022-10-14 12:12] ShockedPlot7560 commented on #8214
The error: ``AttributeError at /commit/plutonium-mcpe/faction/fr/``

[2022-10-15 11:02] TafkaMax opened #8217 "Using Keycloak as an IDP and connecting to weblate using OIDC"
### Describe the issue

I am trying to create a setup where keycloak is the IDP for weblate.

How can this be done? The documentation is sparse regarding this.

What is supposed to be the redirect URL-s for the keycloak configuration?

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### St

[2022-10-15 16:46] GustavoGirardelli opened #8218 "Desinstalar"
### Describe the issue

Hola:
Como desinstalo todo lo que instalé desde [aquí](https://docs.weblate.org/es/latest/admin/install/venv-debian.html) ya que nada funciona ni sé como debería funcionar.

Muchas gracias

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the b

[2022-10-15 16:48] GustavoGirardelli opened #8219 "Desintalación"
### Describe the issue

[a](https://docs.weblate.org/es/latest/admin/install/venv-debian.html)

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

1. Go to '...'
2. Scroll down to '...'
3. Click on '...'
4. See error

### Expected behavior

_No response_

[2022-10-15 16:52] GustavoGirardelli commented on #8219
I sent it to support

[2022-10-15 16:53] GustavoGirardelli commented on #8219
Yo lo mandé a soporte

[2022-10-15 16:53] GustavoGirardelli commented on #8219
They still don't help me
Aún no me ayudan

[2022-10-15 16:56] GustavoGirardelli commented on #8218
They still don't help me
Aún no me ayudan

I sent it to support
Yo lo mandé a soporte

[2022-10-15 17:10] GustavoGirardelli opened #8220 "Eliminar registro"
borrar cuenta de  Weblate

delete weblate account

Delete weblate record

Eliminar registro Weblate

[2022-10-15 17:12] GustavoGirardelli commented on #8220
Ooooooooo......

[2022-10-15 17:15] GustavoGirardelli commented on #8220
Oooo...

*      Lic. Gustavo A. Girardelli    .*

*.*

El sáb, 15 oct 2022 a las 14:11, github-actions[bot] (<
***@***.***>) escribió:

[2022-10-15 20:57] comradekingu commented on #8218
@GustavoGirardelli This isn't a support forum.
https://weblate.org/support/

[2022-10-15 21:11] Bubu opened #8221 "WEBLATE_GITEA_USERNAME and WEBLATE_GITEA_TOKEN missing from docker deployment guide"
### Describe the issue

https://docs.weblate.org/en/latest/admin/install/docker.html doesn't mentions WEBLATE_GITEA_USERNAME  and WEBLATE_GITEA_TOKEN altthough they are supported, see https://github.com/WeblateOrg/weblate/blob/main/weblate/settings_docker.py#L237-L241

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar

[2022-10-15 22:03] assen-totin opened #8222 "Python SIGSEGV on RHEL-9 (python-3.9)"
### Describe the issue

Database migration results in core dump.
All Celery workers core dump at startup.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

I have a Weblate 4.10.1 system running fine on RHEL-8 (python 3.6). As Weblate 4.11 requries Pytho

[2022-10-16 02:47] absoftware commented on #8131
@nijel Thank you for the link. I read a lot documentation before using it, however it doesn't explain why Glossary needs to be all-project-languages complete. It would be nice to make to more flexible, that's why I reported this issue 🙂

[2022-10-16 04:45] bgo-eiu opened #8223 "Maintainers not able to add Punjabi translations"
### Describe the issue

The Punjabi language is used in both Pakistan and India, but with different writing systems. The locales available for this in Weblate are `pa_PK` and `pa` respectively. (This is the same as how the Android locales are set up for this.) I have been translating applications for both scripts, which is easier to do together. However, `pa_PK` is not on the list of languages to

[2022-10-16 05:29] bgo-eiu opened #8224 "Consecutive duplicate word check should be disabled for South Asian languages"
### Describe the issue

In South Asian/Indian languages, word repetition is a basic feature of the grammar and is more likely to be intentional than an error. I see there is a short whitelist which includes one word for Hindi, but the number of words that are commonly repeated in most Indian/Pakistani languages are too many too count. I am not sure this check is useful for these languages and I di

[2022-10-16 15:04] Bubu opened #8225 "Importing a project with linked components from backup produces broken components"
### Describe the issue

When importing a backup of a project which used linked components (weblate:// as repository) the import of the project goes into a broken state. None of the linked components can be accessed.

I've deployed a workaround which allowed re-saving the affected components (by changing the repo to something else and then back): https://codeberg.org/Codeberg-Infrastructure/weblate

[2022-10-16 17:06] ValentinFrancois commented on #2856
Same here, the Live Preview feature is a game changer!

[2022-10-16 18:40] bgo-eiu opened #8228 "Kashida/Tatweel check still too aggressive"
### Describe the issue

This follows up on #6877 in which exceptions were added for certain Arabic prepositions. While it was pointed out that there are limited number of these in Arabic, most languages which use Arabic script characters are not Arabic.

Uses cases of tatweel/kashida which should be permitted:

* Arabic-based scripts have a number of combining characters and diacritics for which t

[2022-10-17 08:17] #8223 closed

[2022-10-17 08:34] Revortni commented on #8205
@nijel hey I'd like to give this a try

[2022-10-17 08:36] nijel commented on #8205
@Revortni you're welcome!

[2022-10-17 08:53] nijel commented on #8219
Please write in English here and describe your problem. Posting a single link to the documentation is not really a problem description...

[2022-10-17 08:55] #8211 closed

[2022-10-17 09:24] nijel commented on #8222
As the crash is happening in libpango, try rebuilding pycairo (`pip install --force-reinstall --no-binary :all: pycairo`) or checking that your gobject introspection packages match the libraries versions (it seems to be `gobject-introspection-devel` and `gobject-introspection` packages on RHEL).

[2022-10-17 09:25] nijel commented on #8218
Duplicate of #8219

[2022-10-17 09:25] #8218 closed

[2022-10-17 09:25] nijel commented on #8220
Duplicate of #8219

[2022-10-17 09:25] #8220 closed

[2022-10-17 09:41] #8215 closed

[2022-10-17 10:19] Revortni commented on #8205
ok so i looked into the social core documentation for gitea and it seems only the below code would suffice.
`SOCIAL_AUTH_GITEA_KEY = os.environ.get("WEBLATE_SOCIAL_AUTH_GITEA_KEY", "") `
` SOCIAL_AUTH_GITEA_SECRET = os.environ.get(
    "WEBLATE_SOCIAL_AUTH_GITEA_SECRET", ""
)`

[2022-10-17 10:20] TafkaMax commented on #8217
I have found the redirect URL in the error message.

When you configure your keycloak with the wrong redirect url then the weblate log contains the correct url:

Now I have another issue.

Using WEBLATE_REGISTRATION_OPEN and WEBLATE_REGISTRATION_ALLOWED_BACKENDS, I can't seem to

1. no account is present in weblate
2. use OIDC
3. Login to keycloak
4. redirect to weblate with error " New registrati

[2022-10-17 10:43] TafkaMax commented on #2407
I am getting the same error with OIDC.

https://github.com/WeblateOrg/weblate/issues/8217

[2022-10-17 10:43] TafkaMax commented on #8217
The following error is in: docker logs weblate -f after the request.

[code]

[2022-10-17 10:49] comradekingu opened #8235 "Changes made in tabs from former session skip history"
### Describe the issue

It is possible to make changes that skip the history.

[Access denied](https://hosted.weblate.org/)

CSRF-verifification failed. Request cancelled.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

Open many WL tabs from Hosted (i

[2022-10-17 10:53] nijel commented on #8235
In case you got CSRF denied, the form was definitely not saved. The string there sill contains "ut til":

![obrazek](https://user-images.githubusercontent.com/212189/196159684-b2a2d10e-6f6a-4448-a19a-b58e23e9fd60.png)

[2022-10-17 11:41] tomkolp opened #8236 "User profile loading slowly"
### Describe the problem

Slow loading of the profile occurs in users who contribute to a huge number of components (over 2000).
https://weblate.examples/user/user_examples/

### Describe the solution you'd like

You can enter pagination.

### Describe alternatives you've considered

_No response_

### Screenshots

![image](https://user-images.githubusercontent.com/39633242/196168101-d5e9c661-e8d6

[2022-10-17 12:38] TafkaMax commented on #4649
Hey

I am also experiecing issues with keycloak installation, did you use this in the end? :

[code]

----
Have you tried to use OIDC plugin instead of the oauth2 one?

[2022-10-17 13:10] tsabi opened #8237 "Missing translations from a language"
### Describe the issue

I have this in my `component.pot` file and also in the `hu.po` file:
[code]

When i search in the component for `location:website.cookies_bar` in the english language i got the result, but in the hungarian language there is no result.

How can this happen and how can i fix it?
The most interesting thing is that this text is exists phisically in  the hu.po file, but when i s

[2022-10-17 13:30] tsabi commented on #8237
I just noticed that in the English language information tab it says that there are 2193 source texts, while in Hungarian there are only 941.

[2022-10-17 13:41] TafkaMax commented on #8217
Got it to work with keycloak plugin:

https://github.com/python-social-auth/social-core/blob/master/social_core/backends/keycloak.py

[code]

Keycloak 19.0.1

[2022-10-17 13:41] #8217 closed

[2022-10-17 16:10] QazPolma opened #8241 "sitemap.xml exception due to private project setting"
### Describe the issue

Don't know how to re-open https://github.com/WeblateOrg/weblate/issues/8203 , so new case it is. :)

Private WEBLATE_DEFAULT_ACCESS_CONTROL setting keeps /sitemap.xml page returning exception "ValueError at /sitemap.xml" "max() arg is an empty sequence" even after adding projects and users.

### I already tried

- [X] I've read and searched [the documentation](https://docs.

[2022-10-17 21:07] assen-totin commented on #8222
Thank you, but this did not help.

I already had pycairo-1.21.0 - and nothing had changed or were upgraded to justify rebuild it. Yet I did, and, as expected, to no avail - still SIGSEGV in Python.

As of the gobject-introspection, they do match - YUM normally tracks there and it i snot that easy to break your system.

(weblate) [root@cgdcweblate weblate]# rpm -qa | grep gobject-introspection*
gob

[2022-10-17 21:51] gernathlub commented on #8236
Hi I would like to start working on this issue if its still a valid one

[2022-10-18 15:38] Revortni commented on #8205
@nijel hey there. any comments on this?

[2022-10-18 20:34] assen-totin commented on #8222
Hello,

We eventually found the reason for the crash: the static assets have not been collected (which prevents the stack from finding a font it is looking for, which absence it fails to identify, which then leads to null pointer defer in Pango).

[2022-10-18 20:34] #8222 closed

[2022-10-18 21:14] ParthS007 commented on #7459
@nijel  I started working on it.  What I understand and added so far

1. The `Screenshot` having a field `repository_filename`.  The scan will get triggered after the `result` is there https://github.com/WeblateOrg/weblate/blob/main/weblate/trans/models/component.py#L1347

[code]

Some questions:

- Is the above location correct?
- What would be the parameters to check for a change in file,  `size

[2022-10-19 02:17] #8157 closed

[2022-10-19 06:19] DagomiFermax commented on #8197
I have the same issue with the same version, Ticket#206711
![Captura de Pantalla 2022-10-17 a las 13 39 34](https://user-images.githubusercontent.com/84782477/196612028-d701d291-fd43-4fe4-b276-49b94e051712.png)

[2022-10-19 07:25] nijel commented on #7459
Yes.

I'd probably rather look at the content of the file. The content of the file should be also validated by `validate_bitmap` prior using.

In case we would want to optimize this, we get changed files from the repository using `Repository.list_changed_files`. This will need an additional layer to make this work for all supported VCSes (similar to `Repository.list_upstream_changed_files`).

I'd

[2022-10-19 07:39] nijel commented on #8193
Running with SSL is documented here: https://docs.weblate.org/en/latest/admin/install/docker.html#docker-container-with-https-support

[2022-10-19 07:44] #8197 closed

[2022-10-19 07:46] nijel commented on #8237
Any errors in the server logs? Maybe there is parse error is some of the other files and Weblate will stop processing at that point.

[2022-10-19 07:47] nijel commented on #8205
The URL is most likely needed as well to specify the gitea server URL.

[2022-10-19 07:52] nijel commented on #8236
Yes, the question is whether pagination is the best approach here. Maybe listing first few (50?) projects and adding a link to browse rest of them - elsewhere and paginated.

[2022-10-19 07:53] DagomiFermax commented on #8197
Thanks.

But I need to know when are deployed in the hosted service.

[2022-10-19 07:56] tomkolp commented on #8236
Yes, displaying the first 50, and then loading the rest after pressing the "see more" button.  Ideally, the rest of the pages are loaded on the same page, there may be a new page in the end.

[2022-10-19 08:18] nijel commented on #8241
Needs to be addressed in Django: https://code.djangoproject.com/ticket/34088

[2022-10-19 08:18] #8241 closed

[2022-10-19 08:28] Geeyun-JY3 commented on #8236
If implemented, the same logic should be applied to the `Watched projects` and `Managed projects` tabs too.

[2022-10-19 08:35] Revortni commented on #8205
as you can see below the documentation does not specify any authentication backend for Gitea.
![image](https://user-images.githubusercontent.com/19191940/196636393-52abdc08-0c5c-4eb4-a912-f8d74043b433.png)

[2022-10-19 08:36] Revortni commented on #8205
Ok will add a config for this too

[2022-10-19 08:47] NielsMunck commented on #8193
Works now.

On Wed, 19 Oct 2022 at 09:39, github-actions[bot] ***@***.***>
wrote:

--

Regards,

*Niels Munck*

*Product Owner*

***@***.*** ***@***.***>*

[2022-10-19 09:16] Bubu opened #8247 "Document Gitea setup in continuous.html "Pushing changes from Weblate""
### Describe the problem

When adding gitea support in https://github.com/WeblateOrg/weblate/pull/7394 the docs at one place were missed:

https://docs.weblate.org/en/latest/admin/continuous.html#pushing-changes-from-weblate

### Describe the solution you'd like

Add gitea to the overview on that page alongside all other VCS options.

### Describe alternatives you've considered

Alternatively the

[2022-10-19 15:55] rsr-cs commented on #7797
Hi @keunes, we would be interested in co-funding this :-)

@nijel: what would be the procedure? We have anyway a call planned to discuss the current and future activities.

[2022-10-19 18:04] Ereza opened #8250 ""I/O operation on closed file" when uploading a CSV file"
### Describe the issue

I have a default installation of Weblate using Docker. I have been using it for several personal projects with no problem, but after some months without using it, I am suddenly having an issue that I have no idea how to fix, and there seems to be no information about it around the web. It could be some kind of configuration change on my server, but since the error message i

[2022-10-19 23:13] m-aciek commented on #263
Another use case to consider: Python docs are being translated for all stable releases (e.g. 3.10, 3.9, 3.8 and 3.7 currently). Subprojects or "organization" wrapper for projects plus shared glossary and default translation memory propagation (already can be achieved, but not by default AFAIK) would work for them.

[2022-10-19 23:21] m-aciek commented on #7271
Isn't this issue a duplicate of #5447?

[2022-10-21 01:26] Revortni commented on #8205
@nijel I've mentioned my findings about the authentication backend above

[2022-10-21 03:16] maboroshin opened #8253 "Track comment removal/resolving in history"
### Describe the issue

Comments by two people (A and B) in the "History" tab. Comments by two people (A and C) into the "Comments" tab, One person is replaced by another.

e.g. [Sample divided comments](https://hosted.weblate.org/translate/free-tube/translations/ja/?checksum=078a8b1bbc0a0340#history).

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/

[2022-10-21 03:28] maboroshin opened #8254 "Add view for all string level changes"
### Describe the problem

I can't see each whole history, Assumed to be about 2 pages. But we can only see 10 change logs. It is shown at the bottom of the change history: <code>Browse all component changes</code>. Press this to see all history for this project. It's over 100 pages. e.g. [Sample string](https://hosted.weblate.org/translate/free-tube/translations/ja/?checksum=11e5157a289519d4)

###

[2022-10-21 07:49] Geeyun-JY3 commented on #8096
@nijel Currently, the read-only strings are still indicated as green in the `Strings status` section of the `Overview` tab of a translation.

https://hosted.weblate.org/projects/f-droid/website-pages/zh_Hans/
![image](https://user-images.githubusercontent.com/49396421/197140735-10fcf0af-f335-4061-8a1f-585b3446194b.png)

https://hosted.weblate.org/projects/f-droid/website-pages/en/
![image](https:/

[2022-10-21 09:15] nijel commented on #8254
There should be a link in the bottom of the list to show all string changes instead of the component ones.

[2022-10-21 09:17] nijel commented on #8253
The history tab can show deleted comments as well, those won't be visible on the comments tab. Maybe that's what you observe?

[2022-10-21 09:40] maboroshin commented on #8253
@nijel No. Kyotaro's comment (comment C) is not in the Comments tab. Not all comments are displayed in the Comments tab. Is this not a bug?

The following is correct. And, Hence my comments will disappear from the History tab. (Upper limit 10 logs: https://github.com/WeblateOrg/weblate/issues/8254)
* maboroshin's comment (comment B)  in the Comments tab is 2 years old. (2020-10-12)
* Kyotaro's com

[2022-10-21 10:17] Geeyun-JY3 commented on #8253
I would suggest that Weblate should track the comments deletion (“Comment deleted”) and resolution (“Comment resolved”) in history.

If this would make the `History`  of translation editor full of comment related activities, a filter for the `History` tab to show all comment related activities or not maybe needed.
Just like GitLab(?):
![image](https://user-images.githubusercontent.com/49396421/186

[2022-10-21 10:29] #8250 closed

[2022-10-21 10:33] nijel commented on #8236
Yes, all projects listing should be affected. I'd prefer to do a complete listing on /projects/ page, it just needs to add support for filtering the projects this way.

[2022-10-21 10:38] #8247 closed

[2022-10-21 10:39] nijel commented on #7271
No, this is about translating files in a single language repository, that one is about supporting configuration for language teams.

[2022-10-22 10:04] yangyangdaji opened #8257 "(show differences) The text is highlighted incorrectly"
### Describe the issue

### The text is highlighted incorrectly
### 1. The added text is not highlighted

![Screenshot_20221022_221721_edit_53780273445439](https://user-images.githubusercontent.com/108261729/197344140-bbf0e42f-64a3-4df4-b90c-78fdf4562302.jpg)

### 2. Strikethrough color inconsistency

![Screenshot_20221022_173610_edit_37724510066118](https://user-images.githubusercontent.com/10826

[2022-10-23 00:17] maboroshin opened #8259 "Wrong press of Revert button"
### Describe the issue

View button and Revert button are too close together. According to the CSS code below, the gap is 4 pixels. So, I sometimes press the wrong button.
`.btn { padding: 2px 2px; }`

The buttons have around 27 pixels.

Also, I'm unaware reverted it because there is no notice. Perhaps others have done so. To build a cooperative relationship, this mishandling should be prevented.

[2022-10-23 09:46] SantosSi opened #8260 "Update an existing string's translators explanation from a translators-comment from its source POT-file"
### Describe the issue

When adding a comment for translators in the source POT file as described in the [PO file docu](https://www.gnu.org/software/gettext/manual/html_node/PO-Files.html), that comment is not used for that string's translator explanation.
POT files are configured and used, as they are successfully read when adding a language.

### I already tried

- [X] I've read and searched [th

[2022-10-24 03:10] maboroshin commented on #3105
This feature is under development for 2021-2022 : https://github.com/WeblateOrg/weblate/issues/6508

I am surprised that there is no other option than unnecessary disclosure of personal data.

Weblate's legal document states.

This was not set forth by Weblate. This is derived from `Article 18 : Right to restriction of processing` in GDPR. In this case, perhaps Article 18(d). He seeks nondisclosur

[2022-10-24 06:48] maxking opened #8261 "Apply for Gitlab OSS program?"
### Describe the issue

We just got a [Merge Request on Gitlab](https://gitlab.com/mailman/postorius/-/merge_requests/733) from Weblate and realized that it doesn't run the CI anymore due to missing CI minutes on Gitlab Shared Runners.

I don't know if there is a way to run the jobs as a part of destination project's CI, but Gitlab has a OSS program that bumps the total number of allowed CI minute

[2022-10-24 07:59] nijel commented on #8261
Weblate is definitely not eligible there:

The proper solution to this is not to use a user for this, but have proper integration via app. https://github.com/WeblateOrg/weblate/issues/1688 is related.

[2022-10-24 08:01] #8261 closed

[2022-10-24 08:16] nijel commented on #8260
The explanation is only stored and managed in Weblate. Comments from the file are displayed as "Source string description", see https://hosted.weblate.org/translate/weblate/application/cs/?checksum=39b3998dcfe68cbf for this:

https://github.com/WeblateOrg/weblate/blob/7d5801294b186e81dbf062c1cfe3b10dabae7781/weblate/locale/cs/LC_MESSAGES/django.po#L123-L126

[2022-10-24 09:04] #8257 closed

[2022-10-24 09:11] nijel commented on #8212
These are now managed in the UI, the configuration options are only migrated once during upgrade, see https://docs.weblate.org/en/latest/admin/machine.html. Go to `/manage/machinery/` to configure that.

[2022-10-24 09:16] nijel commented on #8202
Is the string added in Weblate, or pushed via VCS?

Is the context missing on the source string, or on the translation?

[2022-10-24 09:30] #8253 closed

[2022-10-24 09:32] nijel commented on #8189
Related: https://github.com/WeblateOrg/weblate/issues/8261 and https://github.com/WeblateOrg/weblate/issues/1688

[2022-10-24 09:32] #8189 closed

[2022-10-24 17:25] SantosSi commented on #8260
Thanks, Michal, for the explanation. That was mainly my misunderstanding: I mistook the translator-comments as comments FOR translators.
Additionally, the source Markdown files do not have comments, I am afraid the next run of the command md2po overwrites those manually added extracted-comments (untested).
FYI, your suggestion worked like a charm, thanks again: https://hosted.weblate.org/translate

[2022-10-24 17:25] #8260 closed

[2022-10-25 08:58] nijel commented on #8205
It's generic way of enabling backends. Just look at the BitBucket example I've posted in https://github.com/WeblateOrg/weblate/issues/8205#issuecomment-1280522985. Also, it would be great if you could actually test that the integration works...

[2022-10-25 09:17] nijel commented on #8172
1. The `BBCodeCheck` should be changed to `default_disabled = True` and `enable_string = "bbcode-text"`. This way it will be opt-in instead of guessing where it should apply. See `MarkdownBaseCheck` for example.
2. The `strip_format` helper should be extended to strip bbcode markup when `bbcode-text` is present (like it does for others now).

Related code:

https://github.com/WeblateOrg/weblate/bl

[2022-10-25 09:19] nijel commented on #8108
You need to fill push URL *and* branch.

[2022-10-25 09:36] nijel commented on #8214
Can you please share the INI file you are translating? There seems to be some incompatibility in that.

[2022-10-25 09:41] nijel commented on #8192
@prakhar1144 Thanks, I've just assigned you this issue.

[2022-10-25 09:42] nijel commented on #8132
@jatinmark Yes, you're welcome.

[2022-10-25 11:11] nijel commented on #8131
The glossary needs to have all languages to make glossary handling easier in the rest of the code - for example, it does not have to check whether a glossary exists before adding terms to it.

[2022-10-25 11:15] nijel commented on #7797
The `safe-html` extracts tags and attributes from the source and allows these. So, the translated HTML cannot contain attributes not present in the source. Still, it does not prohibit translating the content of the attributes...

[2022-10-25 11:55] #8225 closed

[2022-10-25 11:56] nijel commented on #7755
@John-Poulos Other installations are using this feature, so it's definitely worth implementing.

@AkshatGoel-321 Thanks for your interesting, the issue is now assigned to you.

[2022-10-25 12:10] nijel commented on #8224
We can definitely disable the check for certain languages. Can you please draft a list of languages where this is needed? Unfortunately we don't have experience with them...

[2022-10-25 12:51] nijel commented on #8259
I'd start with solution 3, that should be pretty easy and not as disturbing as confirmation popup.

[2022-10-25 13:32] nijel commented on #6508
The ACCOUNT_ACTIVITY defines verbose messages to notify user when attribute has changed. The audit log entries are created in `UserForm.audit`.

[2022-10-25 13:41] nijel commented on #6508
I've created https://github.com/WeblateOrg/weblate/pull/8268 so that I can easily comment on the code (and sorry for late response, I built a huge backlog on GitHub and I'm now finally processing that).

[2022-10-25 13:43] nijel commented on #7998
@Ravina-Deogadkar There are a lot of issues to start with: https://github.com/WeblateOrg/weblate/labels/good%20first%20issue

[2022-10-25 15:20] YannZeRookie commented on #7346
I completely concur with @rhofer 's description of the problem. You just cannot work with "left-overs" that would pollute your knowledge base. I just encountered the problem on our self-hosted Weblate server: it would keep on suggesting entries that belonged to an obsolete Component that had been removed - even though I had **specifically** deleted the related TM entry in the TM Manager (/memory/

[2022-10-25 15:46] sismithk3 opened #8269 "Weblate Github Webhooks"
### Describe the issue

Hi, We have our setup integrated with Github and making use of the continuous integration with webhooks. However we noticed the changes were not being reflected in weblate, checking the webhook delivery it states a 202 response with the message `{"status": "failure", "message": "No matching repositories found!", "match_status": {"repository_matches": 0, "branch_matches": 0,

[2022-10-25 18:12] nijel commented on #8269
The matching is based on repository URL, more details are available in the log. Maybe not in the version you use, though...

What is the repository URL configured in Weblate? What is sent in the webhook?

[2022-10-25 20:55] ishikajn8126 commented on #8259
Hey @nijel @maboroshin , is this issue open to work? I'd like to take this up..

[2022-10-25 23:18] maboroshin commented on #8259
@ishikajn8126 Thanks. This is open! Solution 1 is essential for us.

[2022-10-26 08:01] sismithk3 commented on #8269
The repository URL is https:///username:access_token@github.com/K3Imagine/TestReqs
In the webhook it sends  `"url": "https://github.com/k3imagine/TestReqs"`
The log shows
[code]

[2022-10-26 10:59] #8269 closed

[2022-10-26 11:03] sismithk3 commented on #8269
I see a fix has been put in place for this, can i ask how quick we can expect this to be released (specifically in the docker build)

[2022-10-26 11:08] nijel commented on #8269
Most likely next week.

[2022-10-26 11:17] nijel commented on #7346
The per-component or project delete and re-create is there (see https://github.com/WeblateOrg/weblate/issues/7347). The individual entries can also be deleted (see https://github.com/WeblateOrg/weblate/issues/6440). If anything is broken on these, please open a separate issue so that we can take a look.

[2022-10-26 12:27] CiaraG98 commented on #6094
Hi, I can look at this if it is still open?

[2022-10-27 06:06] ShockedPlot7560 commented on #8214
I will send you that in the week

[2022-10-27 10:54] stijnhaezebrouck opened #8274 "What is the impact of CVE-2022-42889"
### Describe the issue

We have received an alert regarding CVE-2022-42889 : code injection issue regarding the apache commons text library.
We would like to know if weblate software is impacted with this issue, hand whether we need to upgrade our weblate version.

Thank you

reference: https://nvd.nist.gov/vuln/detail/CVE-2022-42889#vulnCurrentDescriptionTitle

### I already tried

- [X] I've rea

[2022-10-27 12:22] ishikajn8126 commented on #8259
Hey @maboroshin i'm not able to reproduce the behaviour
I went to the history tab but i can see only the view button
![image](https://user-images.githubusercontent.com/72145053/198282856-e97179e2-8028-4a74-8e66-3d6660892983.png)

[2022-10-27 12:53] maboroshin commented on #8259
@ishikajn8126 Please login.

[2022-10-27 20:25] comradekingu commented on #8259
@ishikajn8126 I think you are looking at the history of something other than the individual string.
https://hosted.weblate.org/translate/weblate/application/nb_NO/?checksum=76ddb09e484aa37a shows both

[2022-10-27 20:32] comradekingu commented on #8254
@maboroshin Do you want to see all string changes for the entire project, or
do you want to see all string changes for an individual string (without resorting to finding it in the general history)?

[2022-10-27 20:45] comradekingu commented on #8236
Would it be a bit faster if /#changes was used as a landing for user profiles? It doesn't list as much, and then has the button to view more.

[2022-10-27 22:37] maboroshin commented on #8254
@comradekingu : The entire history is already displayed.

What needs to be improved. If you open an individual string, there are only 10 logs.

[2022-10-27 23:00] maboroshin commented on #8259
@ishikajn8126 : Here's a good sample.

* The project history : https://hosted.weblate.org/projects/weblate/application/fr/#history
* Each string history (Need to press the history button) : https://hosted.weblate.org/translate/weblate/application/fr/?checksum=bc8ccc05a3997153

If you press the arrow button by mistake, revert that string.

[2022-10-28 03:02] Geeyun-JY3 commented on #7980
I still have questions about the `is:TEXT` lookup.

According to the source code: https://github.com/WeblateOrg/weblate/blob/bda83e3c28f135e88af5b122770bbb146c690059/weblate/utils/search.py#L192-L202

- `is:read-only` is same as `state:read-only`
- `is:approved` is same as `state:approved`
- `is:needs-editing` is same as `state:needs-editing`
- `is:translated` is same as `state:>=translated`
- `is

[2022-10-28 05:03] nijel commented on #8274
Weblate is not written in Java, so the impact is none.

[2022-10-28 18:01] ishikajn8126 commented on #8259
thanks @comradekingu @maboroshin , i got it now

[2022-10-29 05:55] Chandrika-Priya commented on #5787
Hi @nijel can you please tell me where the problem related piece of code exists

[2022-10-29 17:39] ishikajn8126 commented on #8259
hey @maboroshin my college exams are commencing, can i get back to this issue after a week ?
also is there any chat forum of weblate?

[2022-10-29 17:55] maboroshin commented on #8259
@ishikajn8126 : We can resume in a week. I will reply if you have any questions. If it is possible for me.

I am not from Weblate. Mr. nijel is Weblate administrator.

[2022-10-29 17:58] comradekingu commented on #8259
@ishikajn8126 There is this, and
https://docs.weblate.org/en/latest/index.html#live-chat

[2022-10-31 09:25] superDross opened #8285 "Messages are not being emitted when new source strings are replaced by file upload"
### Describe the issue

When uploading pot files with new source strings to a component, the ACTION_REPLACE_UPLOAD change message is not pushed to the exchange.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

   1. Ensure weblate is up and running and

[2022-10-31 12:20] nijel commented on #5787
The template is here: https://github.com/WeblateOrg/weblate/blob/main/weblate/templates/snippets/component/lock.html

[2022-11-01 11:25] orangesunny opened #8288 "Update Translation Memory documentation about rebuild, etc."
### Describe the problem

Translation memory management has evolved in recent versions, and the documentation is not reflecting that.

### Describe the solution you'd like

Describe all features of translation memory management within UI, including on the project level. Like the rebuild button!
Introduced via **https://github.com/WeblateOrg/weblate/issues/7347**

[2022-11-01 11:26] orangesunny commented on #8288
@comradekingu, would you be interested in this?

[2022-11-01 11:32] comradekingu commented on #8288
I will have a go later. https://docs.weblate.org/en/latest/admin/memory.html#translation-memory
You can assign me to the issue.

[2022-11-01 15:17] orangesunny commented on #8288
Thank you!

[2022-11-01 15:38] comradekingu commented on #8288
@orangesunny
 #8290

[2022-11-01 15:58] comradekingu opened #8291 "Change selected user-interface language"
### Describe the issue

I have nb_NO selected, and wanted to change to "en" or "en_UK" to make a screenshot.
Says [Bad request](https://hosted.weblate.org/translate/weblate/application/nb_NO/?checksum=4a1d52c2255e9d7a&q=Feilaktig+foresp%C3%B8rsel&sort_by=-priority%2Cposition).

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for

[2022-11-02 02:17] #8235 closed

[2022-11-02 02:17] #8219 closed

[2022-11-02 08:36] KadAnna commented on #42
I am for this, whenever I search how some term has been translated - some of our strings are really long, so it is hard to spot the searched term. Thanks!

[2022-11-02 08:59] KadAnna opened #8295 "Offer multiple translation"
### Describe the problem

Project has multiple strings with the same text. I have to translate them one by one.

### Describe the solution you'd like

When translating a string, which is in fact multiple times in a project, I would like
- Weblate showing me that this string is multiple times in the project and
- Weblate giving the chance to apply the translation to all the strings at once.

Additi

[2022-11-02 12:37] comradekingu commented on #8291
Also happens when trying to add available special characters to the on-screen keyboard in
https://hosted.weblate.org/accounts/profile/#preferences
Can anyone confirm, or is it just my account?

[2022-11-02 13:31] orangesunny commented on #5155
Enforcement by server/project admin needs to be implemented, too.

[2022-11-02 13:33] nijel opened #8296 "GitLab integration"
### Describe the problem

Weblate should stop using dedicated user on GitLab and integrate natively.

### Describe the solution you'd like

Pretty much this should match features of planned GitHub integration in https://github.com/WeblateOrg/weblate/issues/1688.

### Describe alternatives you've considered

_No response_

### Screenshots

_No response_

### Additional context

This should avoid is

[2022-11-03 04:04] Geeyun-JY3 commented on #8295
Could you give an example of a project that has multiple strings with the same text where you have to translate them one by one?

[2022-11-03 07:03] tomkolp commented on #2835
My project has over 2000 components, will the search work after visiting the project?

[2022-11-03 13:01] zanvidmar opened #8299 "How to set language formality for DeepL?"
### Describe the issue

Hello :)

With this commit [308701f6](https://github.com/WeblateOrg/weblate/commit/308701f61f8f7d47e71b3dc7b8b77897f9adbc4c) support for formality and placeholders with DeepL was added. I did not find any documentation how you can actually set informal language correctly in weblate.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.

[2022-11-04 02:17] #8237 closed

[2022-11-04 02:17] #8193 closed

[2022-11-04 09:43] nijel commented on #8210
@dankrzeminski32 Yes, you're welcome!

[2022-11-04 09:44] nijel commented on #8210
The Docker configuration is here:
https://github.com/WeblateOrg/weblate/blob/e9ac4d5f1b553e02fd32a93f6822997ca2c036b1/weblate/settings_docker.py#L1363

[2022-11-04 09:50] nijel commented on #8131
Why did you configure all the components as glossary in the beginning? Is there something confusing in the setup process?

[2022-11-04 09:59] absoftware commented on #8131
It was giving good suggestions for translators based on another components. By the way it a bit confusing, because suggestions, automatic suggestions and glossaries give suggestions in a bit different way. Glossaries was the most easy in use as they are visible in right panel. All others you need to switch tab at the bottom.

[2022-11-04 10:22] Chandrika-Priya commented on #5787
Thank you @nijel

[2022-11-04 10:25] nijel commented on #8295
That's what "Other occurences" tab shows, see for example: https://hosted.weblate.org/translate/weblate/application/cs/?checksum=1302f55c88f998e2#others

[2022-11-04 10:28] #8291 closed

[2022-11-04 10:35] Geeyun-JY3 commented on #8295
AFAIK, if multiple strings are totally the same (including other information such as context, key, and source string description), they are shown as one string in Weblate, while the locations of these strings are listed in the `String information` panel (**`Source string location`**).

Additionally, if the project has multiple strings with the same text but different in other information (Context,

[2022-11-04 10:35] Geeyun-JY3 commented on #8295
AFAIK, if multiple strings are totally the same (including other information such as context, key, and source string description), they are shown as one string in Weblate, while the locations of these strings are listed in the `String information` panel (**`Source string location`**).

Additionally, if the project has multiple strings with the same text but different in other information (Context,

[2022-11-04 10:36] nijel commented on #8131
Okay, we really should document when using component as glossary is a good idea and what are consequences of that.

[2022-11-04 10:37] nijel commented on #8131
Maybe @orangesunny or @comradekingu might take a look at this?

[2022-11-04 10:45] #8285 closed

[2022-11-04 11:12] zanvidmar commented on #8299
Thank you, for the answer!

[2022-11-04 11:12] #8299 closed

[2022-11-04 14:20] #8221 closed

[2022-11-04 14:33] nijel commented on #8132
You can now configure WEBLATE_GITLAB_CREDENTIALS for a single host by setting WEBLATE_GITLAB_HOST, WEBLATE_GITLAB_USERNAME and WEBLATE_GITLAB_TOKEN, see https://github.com/WeblateOrg/weblate/commit/b299b88af9dd20c6c8bef68ef1d5125def0de471. Multiple host configuration is still not supported via environment variables.

[2022-11-04 15:12] nijel commented on #8214
Ah, starting from an empty file might be the issue. Probably, the library we use for that does not cope with an empty file.

[2022-11-04 15:32] nijel commented on #8214
The translate-toolkit side of the issue should be addressed by https://github.com/translate/translate/pull/4749

[2022-11-04 15:34] #8214 closed

[2022-11-05 09:31] ShockedPlot7560 commented on #8214
How can i update my weblate to ger last changes and say if this is completed ?

[2022-11-05 11:55] nijel commented on #8214
I want to release translate toolkit today (https://github.com/translate/translate/pull/4750), once it's done it will appear in the Weblate Docker container (`bleeding` or `edge`) tags.

[2022-11-05 12:39] weblateorg-sentry-integration[bot] opened #8311 "Plural.MultipleObjectsReturned: get() returned more than one Plural -- it returned 2!"
Sentry Issue: [WEBLATE-RP](https://sentry.weblate.org/organizations/weblate/issues/814/?referrer=github_integration)

[code]

[2022-11-05 13:18] kykint commented on #3378
Actually the old API is finally dead. There is the new (v2) API: https://cloud.yandex.com/en-ru/docs/translate/api-ref/Translation/translate
It would be very great if it is possible to add support of it instead of old one.

[2022-11-05 16:14] tsoslow opened #8312 "Multiple Github servers with docker"
### Describe the problem

Docker allows you to set GITHUB_CREDENTIALS for a a single server by setting WEBLATE_GITHUB_USERNAME, WEBLATE_GITHUB_TOKEN, and WEBLATE_GITHUB_HOST environment variables. But there doesn't seem to be a way to enter a second server.

### Describe the solution you'd like

Allow me to enter a full json text as WEBLATE_GITHUB_CREDENTIALS or provide a way to enter multiple ser

[2022-11-05 16:20] nijel commented on #8312
Duplicate of #8132

[2022-11-05 16:20] #8312 closed

[2022-11-06 12:26] #8311 closed

[2022-11-06 12:57] #8254 closed

[2022-11-06 16:20] dankrzeminski32 commented on #8210
@nijel Hi, I have added the changes to the docker settings file, I am looking to update the documentation on this now...

Do I put 4.14.2 for the 'versionadded'?

[code]

[2022-11-08 08:13] Geeyun-JY3 opened #8321 "Newline symbols (similar to `⤶`) are shifted everywhere"
### Describe the issue

Newline symbols (similar to `⤶`) are shifted everywhere.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

1. Go to a sting whose source contains newline(s)
  Example: https://hosted.weblate.org/translate/weblate/hosted/zh_Hans/?c

[2022-11-08 08:17] jorrit commented on #8062
My experience is as follows: when I automatically translate a component based on my other components, the plural form and singular form are concatenated and saved as the singular form.

![image](https://user-images.githubusercontent.com/521449/200510963-c65b509c-347b-4190-bca4-e38b91d30d36.png)

[2022-11-08 08:20] SantosSi commented on #8260
Running into an incompatibility with md2po, which does not keep `#.` comments intact, as it regards only `#` comments as comments FOR the translator (like I did above). The dilemma of this incompatibility between Weblate and mdpo is that
- either comments for the translator are in `#`: Weblate does not show them to the translator, but kept intact by md2po runs
- or comments for the translator are

[2022-11-08 08:55] nijel opened #8322 "Automatic translation from other components breaks on plurals"
My experience is as follows: when I automatically translate a component based on my other components, the plural form and singular form are concatenated and saved as the singular form.

![image](https://user-images.githubusercontent.com/521449/200510963-c65b509c-347b-4190-bca4-e38b91d30d36.png)

_Originally posted by @jorrit in https://github.com/WeblateOrg/weblate/issues/8062#issuecomment-1306803

[2022-11-08 08:55] nijel commented on #8062
@jorrit That's different issue...

[2022-11-08 08:58] #8322 closed

[2022-11-08 09:01] nijel commented on #8321
Works fine in Firefox, I could reproduce this in Chrome.

[2022-11-08 09:18] jorrit commented on #8322
Thank you @nijel !

[2022-11-08 09:43] #8321 closed

[2022-11-08 12:28] nijel commented on #8260
See https://www.gnu.org/software/gettext/manual/html_node/PO-Files.html:

* `#.` is comment extracted from the source intended for translators, Weblate displays those
* `#` is comment provided by translators, Weblate ignores those

The `md2po` behavior is somewhat expected. I assume it creates POT file from Markdown (which contains no comments) and then calls `msgmerge` to update PO file. It keeps

[2022-11-09 02:17] #8212 closed

[2022-11-09 02:17] #8202 closed

[2022-11-09 03:42] Geeyun-JY3 commented on #8257
@nijel Still can reproduce the strikethrough color issue in suggestion-related events
Example: https://hosted.weblate.org/translate/debian-handbook/14_security/zh_Hans/?checksum=5f15c91d08b7638d#history

[2022-11-09 04:23] Geeyun-JY3 opened #8324 "Do not show the state badge for the `Suggestion added` events in history"
### Describe the problem

Currently, there is a state badge for every `Suggestion added` event in history which indicates the string state when the suggestion was added.

But the state badge is not related to the newly added suggestion. It is related to the state of the current translation (target string). Showing such a badge may confuse users.

### Describe the solution you'd like

Do not show t

[2022-11-09 08:13] #8324 closed

[2022-11-09 08:29] #5842 closed

[2022-11-09 09:24] nijel commented on #8257
That should be fixed in cbde36b3b6

[2022-11-09 09:26] #8210 closed

[2022-11-09 12:45] dankrzeminski32 commented on #8044
Hi @nijel, Can I work on this?

[2022-11-09 13:18] anuj-scanova opened #8328 "Resolve conflict in weblate"
### Describe the issue

Set up a new component with Github and set up `qa` branch to fetch source strings from.

After a few changes to the `qa` branch by the developers, weblate locks the component with a conflict error
[code]
<img width="1006" alt="Screenshot 2022-11-09 at 6 45 18 PM" src="https://user-images.githubusercontent.com/105233146/200840013-4071b13f-15cd-4ec0-9bcf-ce2b7ab87259.png">

A

[2022-11-09 13:31] anuj-scanova commented on #8328
### UPDATE

Just ran the `git remote add weblate` and `git remote update weblate` in the local project repository and it worked well. However `git merge weblate/main` gives **not something we can merge**

[code]

[2022-11-09 15:57] nijel commented on #8328
Just replace `main` with `qa`, the branch is not updated in the hint.

[2022-11-09 16:38] ilocit opened #8330 "Wrong tab sequence when creating a Glossary entry"
### Describe the issue

While translating strings in a Glossary component, create a new Glossary entry (by Tools > Add variant of this string; since you maybe want to create a plural form...).
Add a key and press TAB (tab key on keyboard) to move to (Source) English Term.
The focus moves to the English source term on the actual translation screen who is now in the background and not in focus.
Hit

[2022-11-09 17:17] anuj-scanova commented on #8328
Thanks @nijel, replacing `main` with `qa` worked 👍

[2022-11-10 12:20] ilocit opened #8332 "Sorting Glossary Entries - give prio to glossaries from "own" project"
### Describe the problem

When using multiple (shared, from other projects) glossaries in a project, it would be nice if those matches from the "original Glossary component belonging to the current project were shown at the top rather than the bottom of somewhere in the middle.

Glossary entries within the project are always better matches and more important than those from other (reference) proje

[2022-11-10 12:26] ilocit commented on #8295
@Geeyun-JY3 and @nijel you are right about your answers, but still, I understand and concur with what @KadAnna is saying.
An issue with Weblate is that if you have such strings with the same source text but different context, there is really no way to distribute those automatically while translating. Plus the statistics show them as different words which increases cost. Usually, in CAT tools, 100%

[2022-11-10 12:51] nijel commented on #8332
I'm not really convinced that this would be better in all cases – alphabetic sorting has advantages as well…

[2022-11-10 12:55] ilocit commented on #8332
The alphabetic sorting should be kept, within each Glossary component.
With glossaries with many entries, this gets really messy and there needs to be a way to prioritize. And the "core glossary component within the project should always prevail above shared ones.
All other matches can be sorted in whatever way (mixed, alphabetically), but the matches from the "core" glossary need to be shown at t

[2022-11-10 13:54] KadAnna commented on #8332
We use a "common" glossary that tries to unify terms across projects and that one I want to give a priority over the project's glossary... so cannot agree with the original suggestion.

[2022-11-10 13:59] KadAnna commented on #7424
This is a feedback I just got from our translators:
"After filtering strings for failing checks (in the whole project, according to the provided filters), we do get a list of the relevant strings. However, we need to open each string separately in order to edit them.
Once a string is edited, the list of relevant strings does not update (e.g.: by removing the already corrected string or showing the

[2022-11-10 14:40] comradekingu commented on #8295
@ilocit
Don't know how it is counted, but here are the options to automate translation:

(I'd really want a confidence level set that signifies auto-translation of any sort, but that is another matter.)

Automated propagation
https://docs.weblate.org/no/latest/admin/projects.html#component-allow-translation-propagation
https://hosted.weblate.org/settings/remmina/project/#translation

Sharing TM
ht

[2022-11-10 14:44] comradekingu commented on #7424
@KadAnna Very true, but that is (albeit well known) another issue.

[2022-11-10 14:47] ilocit commented on #8295
I know about those options, @comradekingu .
What do you mean by

Do you want to have access to my Weblate instance? What for?

[2022-11-10 14:50] ilocit commented on #8332
Well, @KadAnna, normally Terms on a project level are more specific to the project than any general shared glossaries.
You only add terms to a project glossary when you want to set a different translation for that particular project compared to "general" (for good reason).
Anyhow, what we see here, the use cases are very different, so maybe a general "switch" or "setting" is needed for (shared) Gl

[2022-11-12 08:02] RobinWeitzel opened #8338 "Large celery translate queue that is not clearing"
### Describe the issue

My Weblate instance is very slow and after investigating I found that the DB was under constant load. I found that there are over 1000 translate tasks in the celery queue that seem to be stuck. The number is not reducing (even after waiting for days).
<img width="937" alt="image" src="https://user-images.githubusercontent.com/12135433/201464641-1e1db10c-fee7-426d-b8a9-77698

[2022-11-13 02:15] #8274 closed

[2022-11-13 11:24] yangyangdaji opened #8339 "po files are not update in time"
### Describe the issue

### not found (Browse all string changes) string

po files are not update in time

[search results](https://hosted.weblate.org/search/weblate/?offset=1&q=Browse+all+string+changes&sort_by=-priority%2Cposition&checksum=)

![Screenshot_20221113_191002](https://user-images.githubusercontent.com/108261729/201519168-a2dede44-6f77-4093-851f-989350ae0803.jpg)
![Screenshot_20221113

[2022-11-13 14:08] Geeyun-JY3 commented on #8339
Why can’t you just wait for the updates of PO files?

This is not the first time you open issue for this similar situation: #8041

[2022-11-13 20:27] bebroll commented on #8084
I would like to chime in on this topic because it also applies to our use case:

In one project where I've tried to make use of Weblate, some textual contents that are supposed to be localized are stored in project-specific JSON files. In our case, the entries in the example posted by @JiDW would contain an ID, for example, or some parameters that configure the appearance of the entry. Since neith

[2022-11-13 23:17] yangyangdaji commented on #8339
@Geeyun-JY3  So when was the string added?

[2022-11-13 23:38] yangyangdaji commented on #8339
git commit https://github.com/WeblateOrg/weblate/commit/1490d6f79d19653dd608e985e20129e92999c19f

7 days ago

[2022-11-13 23:52] yangyangdaji commented on #8339
How often is the PO file updated

[2022-11-14 01:18] Geeyun-JY3 commented on #8339
It is irregular. It is done by @nijel manually.

[2022-11-14 01:35] yangyangdaji commented on #8339
I get it

[2022-11-14 05:26] yangyangdaji commented on #8339
Maybe use github Actions to auto generate/update po files

[2022-11-14 12:37] nijel commented on #8339
Yes, it would be possible, but that would generate too many changes. There is no need to push every string immediately to translation.

I've done the update now in e960bfba32.

[2022-11-14 12:37] #8339 closed

[2022-11-14 12:58] nijel commented on #8084
That's exactly what the [bulk edit add-on])(https://docs.weblate.org/en/latest/admin/addons.html#bulk-edit) can do. You can use any search query there. Still, I consider this more like a workaround than a final solution.

[2022-11-14 13:29] nijel commented on #8338
There might be something wrong with the PostgreSQL database that made the queries hang.

The task queue cannot be cleared because the worker might have prefetched the queue. If you would stop the translate worker, the queue would be restored in redis and the management command would work.

For the next release, the performance should get slightly better due to d5a83bc217c0baf9917431e4f5629656bba68

[2022-11-14 13:35] RobinWeitzel commented on #8338
Hi @nijel, thanks for the reply :)

How would I stop the translate worker?
The queue keeps getting larger so I definitely want to find a solution.
I searched for it in the docs but could not find the right commands.
Will this have any other impacts if we do this?

[2022-11-15 04:09] Geeyun-JY3 opened #8348 "Whitespace placeholder (middle dot) for space is not centered"
### Describe the issue

The whitespace placeholder for space (middle dot) is not centered.

IIRC, they are centered before.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

1. Go to the full editor
2. See the source / second language / diff field

### E

[2022-11-15 05:25] Geeyun-JY3 opened #8350 "Show the source text of the source string as the content of the `New source string` event in the history"
### Describe the problem

The content of the `New source string` event in the history is the same as the name of the event.
It can be more useful.

### Describe the solution you'd like

Directly show the source text of the source string as the content of the `New source string` event in the history.

(Just like the `Removed string` event though not all `Removed string` events would show the text o

[2022-11-15 14:00] nijel commented on #8350
The event is already attached to a string, so it should be pretty easy to add the displaying.

[2022-11-15 22:08] bebroll commented on #8084
I missed that you can use a regex as the query with the bulk-edit add-on. When using a regex, you can, indeed, query the JSON keys with wildcards and mark them "read-only" with little effort. That is very helpful, indeed, thanks!

The drawback of the workaround is that any change to the underlying files which adds new entries will require another bulk-edit run to mark the new keys as read-only. Th

[2022-11-16 07:55] PawelSpoon opened #8354 "cannot remove a component from project"
### Describe the issue

i click on removal of component
i see Translation component was scheduled for removal.
but component does not get removed ..

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

1. Go to component
2. Scroll down to '...'
3. Click on

[2022-11-16 08:47] rhofer commented on #7601
@nijel with my example described in https://github.com/WeblateOrg/weblate/issues/7601#issuecomment-1316610725 above, this only addresses "meta data" as the state. But when doing such operations as mentioned, it would be good to act on further "meta data" as `suggestions` and `comments` , so that potentially API would allow to act on them as well.

Would this fit to this issue or shall I write a ne

[2022-11-16 09:59] nijel commented on #8354
Anything in the docker logs? Is the celery worker running?

[2022-11-16 11:53] PawelSpoon commented on #8354
as usual i will say now that we have a subscription :D
any hint how to check the celery worker ?
thanks !

[2022-11-16 12:31] KadAnna opened #8355 "Java MessageFormat check returns a lot of false positives for French"
### Describe the issue

French language returns a lot of false positives "Java MessageFormat " Could this be limited? all the French apostrophes are reported as a bug, ... and French uses them a lot.. :) Thanks!

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the be

[2022-11-16 15:34] sr258 opened #8356 "Quick action in suggestion box hide text in RTL languages"
### Describe the issue

If there are suggestion in a RTL language, the quick action ("accept", "accept and edit", "delete", ...) hide the text in the suggestion box:
![grafik](https://user-images.githubusercontent.com/15268740/202223933-5f935ab6-40b4-4574-8152-27e9431f2e1f.png)

It's not possible to read what's below the actions.

### I already tried

- [X] I've read and searched [the documentatio

[2022-11-16 20:35] Gallaecio opened #8358 "Customize settings in Docker image without touching the data volume"
### Describe the issue

How can I create a Dockerfile that inherits from the official Weblate Docker image, and defines additional settings that cannot be defined through environment variables, like `INSTALLED_APPS`, *without* relaying on the data volume?

[The documentation covers the data volume approach](https://docs.weblate.org/en/latest/admin/install/docker.html#custom-configuration-files), w

[2022-11-17 07:04] PawelSpoon commented on #8354
our it engineer will open a ticket, so closing this

[2022-11-17 07:04] #8354 closed

[2022-11-19 07:24] RobinWeitzel commented on #8338
Hi @nijel ,

I tried the command but sadly this also did not do the trick.
Even after stopping the purge command still claimed that there were no messages in the queue.

However, when I restarted the celery task (with ```supervisorctl start celery-translate```) I noticed that the queue had decreased by 10. To confirm I stoped and started the task a second time and again the queue went down.

After

[2022-11-19 07:24] #8338 closed

[2022-11-19 10:04] Geeyun-JY3 opened #8364 "Show all the plural forms of all languages under the `Other languages` tab in the full editor when available."
### Describe the problem

Currently, only the first plural form of other languages is shown under the `Other languages` tab in the full editor.

### Describe the solution you'd like

Show all the plural forms of all languages under the `Other languages` tab in the full editor when available.

### Describe alternatives you've considered

_No response_

### Screenshots

![image](https://user-images.

[2022-11-19 14:28] varghesejose2020 opened #8371 "Update GitLab Logo"
### Describe the issue

*In weblate sigin in page and registeration page Gitlab Logo is outated*
![image](https://user-images.githubusercontent.com/71702982/202855328-dbe88b82-6122-4f9f-91f5-a2c5a4a61de4.png)

Official Resources for Updated Icon and Color
https://about.gitlab.com/press/press-kit/

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [

[2022-11-20 12:17] Gallaecio commented on #8358
When I reported this issue I did not realize this specific setting can be overridden through environment variables. But I think the issue still applies.

[2022-11-20 14:07] Gallaecio opened #8366 "Allow configuring weblate.legal.models.TOS_DATE"
### Describe the problem

It seems that `weblate.legal` supports updating the terms of service and requiring users to agree to them again, but as far as I can tell there is no clean way to use this feature.

### Describe the solution you'd like

Maybe this variable could be exposed as a setting?

### Describe alternatives you've considered

I think at the moment you need to either monkeypatch http

[2022-11-21 08:52] #8366 closed

[2022-11-21 08:59] #8371 closed

[2022-11-21 09:39] nijel commented on #8354
This is automated reply to all questions opened on GitHub and has no access to our subscriptions, please don't get offended by this.

Still, it is okay to ask questions in public, but please still let us know in the customer care so that we're aware of this and can handle it appropriately.

You can check the Celery queues status at `/manage/performance/` URL. I've also added some hints on service

[2022-11-21 09:40] nijel commented on #8338
That's weird, it should process tasks continuously, not this way.

Anyway, I've added some supervisor hints to our docs in 9743509c7e.

[2022-11-21 09:53] nijel commented on #8355
Single quotes have to be written as `''`, otherwise they are treated as start of quoting, please see https://docs.oracle.com/javase/7/docs/api/java/text/MessageFormat.html

I've clarified the docs in 3c028a7a2a.

[2022-11-21 09:57] #7865 closed

[2022-11-21 10:14] #8364 closed

[2022-11-21 10:15] nijel commented on #8084
The bulk-edit add-on is run on every update of the file...

[2022-11-21 10:34] #8330 closed

[2022-11-21 12:58] nijel commented on #3166
Another related topic is handling strings with same source, but different context/key, see https://github.com/WeblateOrg/weblate/issues/8295.

[2022-11-21 13:00] nijel commented on #8295
I guess there is “not” missing in the sentence. The problem is here to agree on the specification (see https://github.com/WeblateOrg/weblate/issues/3166), once we have that the implementation will most likely be not that hard.

Accounting that in reports will not be that hard once the propagated/distributed changes will be marked as such in the history.

[2022-11-21 13:02] nijel commented on #8356
https://github.com/WeblateOrg/weblate/issues/8259 is somewhat related (it also questions placement of these buttons).

[2022-11-21 13:11] ilocit commented on #8295
I added the **not** to the sentence. Of course it was missing ;-)
Thx, @nijel!

Regarding the "Accounting" it is a little more complex, since traditional CAT (Computer Assisted Translation) tools basically give you the option to calculate statistics and cost up-front.

Like this, for example:
![image](https://user-images.githubusercontent.com/26718215/203062938-1ed39db5-2058-4e90-b747-baa2e828dc11

[2022-11-21 13:19] nijel commented on #7601
@rhofer  Please open separate issue for each of these.

[2022-11-21 13:28] nijel commented on #8348
Might be outcome of df0627b34bbe0ac8153520bd09e57ffc6a759f6a.

[2022-11-21 13:28] #8348 closed

[2022-11-22 08:45] GYariza opened #8374 "Can the string imported for the first time be set to an incomplete state by default"
### Describe the issue

Can the string imported for the first time be set to an incomplete state by default？
Because developers will translate some strings themselves, but they are not professional translators, so they need to be reviewed by translators again.
However, when the project is imported for the first time, the strings (translated by developers) are displayed in "Translated strings".

##

[2022-11-22 19:16] nijel commented on #8374
Yes, there is an add-on for that: https://docs.weblate.org/en/latest/admin/addons.html#flag-new-translations-as-needs-editing

[2022-11-23 15:58] neflyte opened #8377 "How to increase REST_FRAMEWORK PAGE_SIZE on Hosted Weblate"
### Describe the issue

I'm working with a hosted Weblate instance and would like to change the REST_FRAMEWORK PAGE_SIZE setting from 20 to a higher number. Can this change be made in hosted Weblate? If so, how can the chage be made?

I couldn't find any reference to this outside of a settings file that isn't exposed for hosted Weblate instances.

Any assistance is appreciated!

### I already trie

[2022-11-25 05:30] Geeyun-JY3 opened #8381 "Redundant copy and clone buttons"
### Describe the issue

The copy and clone buttons beside the secondary language field are redundant when some plural forms of that secondary language are untranslated.

The same issue occurs when some plural forms of the first language are untranslated, opening the string with plurals in a language that is neither the user’s first language nor secondary language.

### I already tried

- [X] I've

[2022-11-25 09:13] Geeyun-JY3 opened #8382 "False postives in checks while source has plural forms"
### Describe the issue

It seems that checks are currently applied between each plural form of translation and the first plural form of the source.
It produces many false positives.

Only tested in projects whose source language is English.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

[2022-11-25 09:14] Geeyun-JY3 opened #8383 "False postives in checks while source has plural forms"
### Describe the issue

It seems that checks are applied between each plural form of translation and the first plural form of the source.
It produces many false positives.

Only tested in projects whose source language is English.

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps

[2022-11-25 09:15] #8383 closed

[2022-11-27 16:28] ecxod commented on #2510
since i also came across the error, i want to draw your attention to the following;
the URL of the API is :

and not

as in the example on the deepl.com page [https://www.deepl.com/docs-api](https://www.deepl.com/docs-api#headlessui-listbox-label-5)

[2022-11-27 19:53] WofWca opened #8388 "browse projects: add short descriptions and icons for projects"
### Describe the problem

* [ ] When searching for a new project to translate some people might try using "Browse all projects" `/projects/`, but currently you can only see project names there, which is usually not enough to understand what the project is about.
* [ ] Maybe also add a way to list projects from self-hosted Weblate instances.

Maybe could also pull this info from the project's repos

[2022-11-28 06:51] comradekingu commented on #3507
@nijel
This loss of editing field also happens (on 4.15) when just clicking the editing field, or clicking tab from the previous string.

The expected behaviour is to have the editing field visible at the bottom of the screen, and then lose out on the topmost alternative translations. (Instead of starting at the top alternative translation and then running out of screen-estate somewhere before the

[2022-11-29 05:12] Geeyun-JY3 opened #8394 "URL of the `View` buttons in the notification email is wrong"
### Describe the issue

Follow up #7489

Current only found in Pending suggestions and Unfinished strings notification email.
The URL of the `View` buttons just links to the overview page of the translation instead of the translation editor page.

https://github.com/WeblateOrg/weblate/blob/e0884f9eb392c864115733426511d88a9c5b893a/weblate/templates/mail/pending_suggestions.html#L15
https://github.c

[2022-11-29 05:59] Geeyun-JY3 commented on #8388
For reference:

- Crowdin allows adding descriptions and images for projects. But the explore page would only show the image.
![image](https://user-images.githubusercontent.com/49396421/204449213-14a57398-31a3-46ae-b754-d57eb7d57f99.png)
- Transifex allows adding icons for projects and the explore page would show the icon.
![image](https://user-images.githubusercontent.com/49396421/204448710-419c2

[2022-11-29 12:55] gasperthegracner opened #8395 "Cannot add a language on component"
### Describe the issue

We cannot add new language to a component.

We are running Weblate via Bitnami image

### I already tried

- [X] I've read and searched [the documentation](https://docs.weblate.org/).
- [X] I've searched for similar issues in this repository.

### Steps to reproduce the behavior

1. Go to 'Project -> Component'
2. Click on 'Start new translation'
3. Select language
4. confi

[2022-11-29 18:55] nijel commented on #8388
Duplicate of #3724

[2022-11-29 18:56] nijel commented on #3724
From https://github.com/WeblateOrg/weblate/issues/8388 by @WofWca:

### Describe the problem

* [ ] When searching for a new project to translate some people might try using "Browse all projects" `/projects/`, but currently you can only see project names there, which is usually not enough to understand what the project is about.
* [ ] Maybe also add a way to list projects from self-hosted Weblate

[2022-11-29 18:56] #8388 closed

[2022-11-29 18:58] nijel commented on #8395
What happens depends on the configuration: https://docs.weblate.org/en/latest/admin/projects.html#adding-new-translation

[2022-11-29 19:00] #8394 closed

[2022-11-29 19:04] nijel commented on #2510
That's how we document it: https://docs.weblate.org/en/latest/admin/machine.html#deepl

[2022-11-30 06:21] gasperthegracner commented on #8395
@nijel
we checked the logs, `en.json` was missing in `/opt/bitnami/weblate/data/vcs/{project}/{component}`, after adding it and setting the right permissions, we manage to solve the issue.

[2022-11-30 06:21] #8395 closed

[2022-11-30 09:40] linaluice12 opened #8401 "Duolingo English Test – When and How You Can Book a Slot"
### Describe the problem

Duolingo is the leading website for students interested in learning English easily. This easy-to-use site attracts hundreds of students each day. However, if you want to learn and speak English fluently, you must complete your **[Duolingo Test Registration](https://abroadvice.com/duolingo)** as soon as possible. Duolingo test booking gets done during the time of registrat

[2022-11-30 12:28] #8401 closed

[2022-11-30 12:47] StefanBrand opened #8402 "Generate MO files addon compiles fuzzy messages"
### Describe the issue

A user complained that there were weird translations in our app. We are using `.pot` from a Django app and these two Weblate add-ons:

- Update PO files to match POT (msgmerge) with "Use fuzzy matching "
- Generate MO files

Usually `msgfmt` would not `--use-fuzzy` by default. Weblate, however, generates the MO with fuzzy translations included.

### I already tried

- [X] I